<?xml version="1.0" encoding="utf-8"?>
<SnippetDefinition xmlns="http://www.br-automation.com/iat2014/snippet/runtime/v1">
  <Snippet id="snCfAxisStatusInt" type="IndexText" formatItem="IAT/axisStatus.{1}" />
  <Snippet id="snCfAxisStateInt" type="IndexText" formatItem="IAT/gamot_SmState.{1}" />
</SnippetDefinition>