@import "mixins.scss";
#GAMotTestWidget_grpBoxAxisStatus {
	@include elemTop(0);
}
#GAMotTestWidget_grpBoxAxisStatus {
	@include elemLeft(0);
}
#GAMotTestWidget_grpBoxAxisStatus {
	@include elemWidth(300);
}
#GAMotTestWidget_grpBoxAxisStatus {
	@include elemHeight(200);
}
#GAMotTestWidget_grpBoxAxisStatus {
		z-index: 0;
}
#GAMotTestWidget_grpBoxAxisStatus {
		margin: 0px 0px 0px 0px;
}
#GAMotTestWidget_lblRdyForPower {
	@include elemTop(8);
}
#GAMotTestWidget_lblRdyForPower {
	@include elemLeft(169);
}
#GAMotTestWidget_lblRdyForPower {
	@include elemAutoWidth(125);
}
#GAMotTestWidget_lblRdyForPower {
	@include elemAutoHeight(15);
}
#GAMotTestWidget_lblRdyForPower {
		z-index: 0;
}
#GAMotTestWidget_lblRdyForPower {
	span{
		padding: 0px;
	}
}
#GAMotTestWidget_txtOutRdyForPwr {
	@include elemTop(5);
}
#GAMotTestWidget_txtOutRdyForPwr {
	@include elemLeft(124);
}
#GAMotTestWidget_txtOutRdyForPwr {
	@include elemAutoWidth(30);
}
#GAMotTestWidget_txtOutRdyForPwr {
	@include elemAutoHeight(20);
}
#GAMotTestWidget_txtOutRdyForPwr {
		z-index: 1;
}
#GAMotTestWidget_txtOutRdyForPwr {
		background-color: rgba(255, 255, 255, 0);
}
#GAMotTestWidget_txtOutRdyForPwr {
	@include text-alignment-all('center');
}
#GAMotTestWidget_numOutAxisNumber {
	@include elemTop(33);
}
#GAMotTestWidget_numOutAxisNumber {
	@include elemLeft(-1);
}
#GAMotTestWidget_numOutAxisNumber {
	@include elemAutoWidth(120);
}
#GAMotTestWidget_numOutAxisNumber {
	@include elemAutoHeight(15);
}
#GAMotTestWidget_numOutAxisNumber {
		z-index: 2;
}
#GAMotTestWidget_numOutAxisNumber {
	input{
	@include text-alignment(center);
	}
}
#GAMotTestWidget_numOutAxisNumber {
	input{
		font-size: 16px;
	}
}
#GAMotTestWidget_numOutAxisNumber {
	input{
	@include font-weight-bold(false);
	}
}
#GAMotTestWidget_lblAxisNumber {
	@include elemTop(8);
}
#GAMotTestWidget_lblAxisNumber {
	@include elemLeft(6);
}
#GAMotTestWidget_lblAxisNumber {
	@include elemAutoWidth(106);
}
#GAMotTestWidget_lblAxisNumber {
	@include elemAutoHeight(15);
}
#GAMotTestWidget_lblAxisNumber {
		z-index: 3;
}
#GAMotTestWidget_lblAxisNumber {
	@include text-alignment-all('center');
}
#GAMotTestWidget_lblAxisNumber {
		font-size: 16px;
}
