@import "mixins.scss";
#GaMotAxisHome_grpBoxAxisHome {
	@include elemTop(25);
}
#GaMotAxisHome_grpBoxAxisHome {
	@include elemLeft(20);
}
#GaMotAxisHome_grpBoxAxisHome {
	@include elemWidth(355);
}
#GaMotAxisHome_grpBoxAxisHome {
	@include elemHeight(285);
}
#GaMotAxisHome_grpBoxAxisHome {
		z-index: 0;
}
#GaMotAxisHome_grpBoxAxisHome {
	@include border-radius(8px 8px 0px 0px);
}
#GaMotAxisHome_numInSetOffset {
	@include elemAutoHeight(30);
}
#GaMotAxisHome_numInSetOffset {
	@include elemTop(229);
}
#GaMotAxisHome_numInSetOffset {
	@include elemLeft(10);
}
#GaMotAxisHome_numInSetOffset {
	@include elemAutoWidth(135);
}
#GaMotAxisHome_numInSetOffset {
		z-index: 0;
}
#GaMotAxisHome_numOutPosAct {
	@include elemAutoHeight(30);
}
#GaMotAxisHome_numOutPosAct {
	@include elemTop(64);
}
#GaMotAxisHome_numOutPosAct {
	@include elemLeft(19);
}
#GaMotAxisHome_numOutPosAct {
	@include elemAutoWidth(120);
}
#GaMotAxisHome_numOutPosAct {
		z-index: 1;
}
#GaMotAxisHome_numOutPosAct {
	input{
	@include text-alignment(left);
	}
}
#GaMotAxisHome_lblPosAct {
	@include elemAutoWidth(80);
}
#GaMotAxisHome_lblPosAct {
	@include elemTop(44);
}
#GaMotAxisHome_lblPosAct {
	@include elemLeft(39);
}
#GaMotAxisHome_lblPosAct {
	@include elemAutoHeight(23);
}
#GaMotAxisHome_lblPosAct {
		z-index: 4;
}
#GaMotAxisHome_lblPosAct {
	@include text-alignment-all('center');
}
#GaMotAxisHome_lblIsHomed {
	@include elemTop(44);
}
#GaMotAxisHome_lblIsHomed {
	@include elemLeft(259);
}
#GaMotAxisHome_lblIsHomed {
	@include elemAutoWidth(71);
}
#GaMotAxisHome_lblIsHomed {
	@include elemAutoHeight(15);
}
#GaMotAxisHome_lblIsHomed {
		z-index: 3;
}
#GaMotAxisHome_lblIsHomed {
	span{
		padding: 0px;
	}
}
#GaMotAxisHome_txtOutIsHomed {
	@include elemTop(64);
}
#GaMotAxisHome_txtOutIsHomed {
	@include elemLeft(279);
}
#GaMotAxisHome_txtOutIsHomed {
	@include elemAutoWidth(30);
}
#GaMotAxisHome_txtOutIsHomed {
	@include elemAutoHeight(20);
}
#GaMotAxisHome_txtOutIsHomed {
		z-index: 2;
}
#GaMotAxisHome_txtOutIsHomed {
		background-color: rgba(255, 255, 255, 0);
}
#GaMotAxisHome_txtOutIsHomed {
	@include text-alignment-all('center');
}
#GaMotAxisHome_lblTitle {
	@include elemTop(-5);
}
#GaMotAxisHome_lblTitle {
	@include elemLeft(-1);
}
#GaMotAxisHome_lblTitle {
	@include elemAutoWidth(355);
}
#GaMotAxisHome_lblTitle {
	@include elemAutoHeight(35);
}
#GaMotAxisHome_lblTitle {
		z-index: 5;
}
#GaMotAxisHome_pbSetZero {
	@include elemAutoWidth(100);
}
#GaMotAxisHome_pbSetZero {
	@include elemTop(114);
}
#GaMotAxisHome_pbSetZero {
	@include elemLeft(164);
}
#GaMotAxisHome_pbSetZero {
	@include elemAutoHeight(40);
}
#GaMotAxisHome_pbSetZero {
		z-index: 6;
}
#GaMotAxisHome_pbSetOffset {
	@include elemAutoWidth(100);
}
#GaMotAxisHome_pbSetOffset {
	@include elemTop(224);
}
#GaMotAxisHome_pbSetOffset {
	@include elemLeft(164);
}
#GaMotAxisHome_pbSetOffset {
	@include elemAutoHeight(40);
}
#GaMotAxisHome_pbSetOffset {
		z-index: 7;
}
#GaMotAxisHome_pbSetInPosition {
	@include elemAutoWidth(100);
}
#GaMotAxisHome_pbSetInPosition {
	@include elemTop(169);
}
#GaMotAxisHome_pbSetInPosition {
	@include elemLeft(164);
}
#GaMotAxisHome_pbSetInPosition {
	@include elemAutoHeight(40);
}
#GaMotAxisHome_pbSetInPosition {
		z-index: 8;
}
