<?xml version="1.0" encoding="utf-8"?>
<SnippetDefinition xmlns="http://www.br-automation.com/iat2014/snippet/runtime/v1">
  <Snippet id="bool_de" type="IndexText" formatItem="IAT/bool_de.{1}" />
  <Snippet id="bool_ny" type="IndexText" formatItem="IAT/bool_ny.{1}" />
  <Snippet id="bool_offon" type="IndexText" formatItem="IAT/bool_offon.{1}" />
  <Snippet id="bool_rdy" type="IndexText" formatItem="IAT/bool_rdy.{1}" />
</SnippetDefinition>