@import "mixins.scss";
#GaMotAxisDetail_grpBoxAxisStatus {
	@include elemTop(15);
}
#GaMotAxisDetail_grpBoxAxisStatus {
	@include elemLeft(30);
}
#GaMotAxisDetail_grpBoxAxisStatus {
	@include elemWidth(370);
}
#GaMotAxisDetail_grpBoxAxisStatus {
	@include elemHeight(290);
}
#GaMotAxisDetail_grpBoxAxisStatus {
		z-index: 0;
}
#GaMotAxisDetail_lblRdyForPower {
	@include elemTop(44);
}
#GaMotAxisDetail_lblRdyForPower {
	@include elemLeft(184);
}
#GaMotAxisDetail_lblRdyForPower {
	@include elemAutoWidth(125);
}
#GaMotAxisDetail_lblRdyForPower {
	@include elemAutoHeight(15);
}
#GaMotAxisDetail_lblRdyForPower {
		z-index: 0;
}
#GaMotAxisDetail_lblRdyForPower {
	span{
		padding: 0px;
	}
}
#GaMotAxisDetail_lblIsHomed {
	@include elemTop(64);
}
#GaMotAxisDetail_lblIsHomed {
	@include elemLeft(184);
}
#GaMotAxisDetail_lblIsHomed {
	@include elemAutoWidth(125);
}
#GaMotAxisDetail_lblIsHomed {
	@include elemAutoHeight(15);
}
#GaMotAxisDetail_lblIsHomed {
		z-index: 1;
}
#GaMotAxisDetail_lblIsHomed {
	span{
		padding: 0px;
	}
}
#GaMotAxisDetail_lblIsAtPos {
	@include elemTop(154);
}
#GaMotAxisDetail_lblIsAtPos {
	@include elemLeft(184);
}
#GaMotAxisDetail_lblIsAtPos {
	@include elemAutoWidth(125);
}
#GaMotAxisDetail_lblIsAtPos {
	@include elemAutoHeight(15);
}
#GaMotAxisDetail_lblIsAtPos {
		z-index: 2;
}
#GaMotAxisDetail_lblIsAtPos {
	span{
		padding: 0px;
	}
}
#GaMotAxisDetail_lblIsMoveActive {
	@include elemTop(129);
}
#GaMotAxisDetail_lblIsMoveActive {
	@include elemLeft(184);
}
#GaMotAxisDetail_lblIsMoveActive {
	@include elemAutoWidth(125);
}
#GaMotAxisDetail_lblIsMoveActive {
	@include elemAutoHeight(15);
}
#GaMotAxisDetail_lblIsMoveActive {
		z-index: 3;
}
#GaMotAxisDetail_lblIsMoveActive {
	span{
		padding: 0px;
	}
}
#GaMotAxisDetail_lblIsMoveDone {
	@include elemTop(174);
}
#GaMotAxisDetail_lblIsMoveDone {
	@include elemLeft(184);
}
#GaMotAxisDetail_lblIsMoveDone {
	@include elemAutoWidth(125);
}
#GaMotAxisDetail_lblIsMoveDone {
	@include elemAutoHeight(15);
}
#GaMotAxisDetail_lblIsMoveDone {
		z-index: 4;
}
#GaMotAxisDetail_lblIsMoveDone {
	span{
		padding: 0px;
	}
}
#GaMotAxisDetail_lblIsStopped {
	@include elemTop(199);
}
#GaMotAxisDetail_lblIsStopped {
	@include elemLeft(184);
}
#GaMotAxisDetail_lblIsStopped {
	@include elemAutoWidth(125);
}
#GaMotAxisDetail_lblIsStopped {
	@include elemAutoHeight(15);
}
#GaMotAxisDetail_lblIsStopped {
		z-index: 5;
}
#GaMotAxisDetail_lblIsStopped {
	span{
		padding: 0px;
	}
}
#GaMotAxisDetail_lblStatus {
	@include elemTop(229);
}
#GaMotAxisDetail_lblStatus {
	@include elemLeft(289);
}
#GaMotAxisDetail_lblStatus {
	@include elemAutoWidth(60);
}
#GaMotAxisDetail_lblStatus {
	@include elemAutoHeight(15);
}
#GaMotAxisDetail_lblStatus {
		z-index: 6;
}
#GaMotAxisDetail_lblStatus {
	span{
		padding: 0px;
	}
}
#GaMotAxisDetail_lblState {
	@include elemTop(254);
}
#GaMotAxisDetail_lblState {
	@include elemLeft(289);
}
#GaMotAxisDetail_lblState {
	@include elemAutoWidth(60);
}
#GaMotAxisDetail_lblState {
	@include elemAutoHeight(15);
}
#GaMotAxisDetail_lblState {
		z-index: 7;
}
#GaMotAxisDetail_lblState {
	span{
		padding: 0px;
	}
}
#GaMotAxisDetail_txtOutStatus {
	@include elemTop(229);
}
#GaMotAxisDetail_txtOutStatus {
	@include elemLeft(80);
}
#GaMotAxisDetail_txtOutStatus {
	@include elemAutoWidth(207);
}
#GaMotAxisDetail_txtOutStatus {
	@include elemAutoHeight(15);
}
#GaMotAxisDetail_txtOutStatus {
		z-index: 8;
}
#GaMotAxisDetail_txtOutStatus {
		background-color: rgba(255, 255, 255, 0);
}
#GaMotAxisDetail_txtOutStatus {
	@include text-alignment-all('right');
}
#GaMotAxisDetail_txtOutState {
	@include elemTop(254);
}
#GaMotAxisDetail_txtOutState {
	@include elemLeft(80);
}
#GaMotAxisDetail_txtOutState {
	@include elemAutoWidth(207);
}
#GaMotAxisDetail_txtOutState {
	@include elemAutoHeight(15);
}
#GaMotAxisDetail_txtOutState {
		z-index: 9;
}
#GaMotAxisDetail_txtOutState {
		background-color: rgba(255, 255, 255, 0);
}
#GaMotAxisDetail_txtOutState {
	@include text-alignment-all('right');
}
#GaMotAxisDetail_txtOutRdyForPwr {
	@include elemTop(39);
}
#GaMotAxisDetail_txtOutRdyForPwr {
	@include elemLeft(139);
}
#GaMotAxisDetail_txtOutRdyForPwr {
	@include elemAutoWidth(30);
}
#GaMotAxisDetail_txtOutRdyForPwr {
	@include elemAutoHeight(20);
}
#GaMotAxisDetail_txtOutRdyForPwr {
		z-index: 10;
}
#GaMotAxisDetail_txtOutRdyForPwr {
		background-color: rgba(255, 255, 255, 0);
}
#GaMotAxisDetail_txtOutRdyForPwr {
	@include text-alignment-all('center');
}
#GaMotAxisDetail_txtOutIsHomed {
	@include elemTop(64);
}
#GaMotAxisDetail_txtOutIsHomed {
	@include elemLeft(139);
}
#GaMotAxisDetail_txtOutIsHomed {
	@include elemAutoWidth(30);
}
#GaMotAxisDetail_txtOutIsHomed {
	@include elemAutoHeight(20);
}
#GaMotAxisDetail_txtOutIsHomed {
		z-index: 11;
}
#GaMotAxisDetail_txtOutIsHomed {
		background-color: rgba(255, 255, 255, 0);
}
#GaMotAxisDetail_txtOutIsHomed {
	@include text-alignment-all('center');
}
#GaMotAxisDetail_txtOutIsMoveActive {
	@include elemTop(129);
}
#GaMotAxisDetail_txtOutIsMoveActive {
	@include elemLeft(139);
}
#GaMotAxisDetail_txtOutIsMoveActive {
	@include elemAutoWidth(30);
}
#GaMotAxisDetail_txtOutIsMoveActive {
	@include elemAutoHeight(20);
}
#GaMotAxisDetail_txtOutIsMoveActive {
		z-index: 12;
}
#GaMotAxisDetail_txtOutIsMoveActive {
		background-color: rgba(255, 255, 255, 0);
}
#GaMotAxisDetail_txtOutIsMoveActive {
	@include text-alignment-all('center');
}
#GaMotAxisDetail_txtOutIsAtPos {
	@include elemTop(154);
}
#GaMotAxisDetail_txtOutIsAtPos {
	@include elemLeft(139);
}
#GaMotAxisDetail_txtOutIsAtPos {
	@include elemAutoWidth(30);
}
#GaMotAxisDetail_txtOutIsAtPos {
	@include elemAutoHeight(20);
}
#GaMotAxisDetail_txtOutIsAtPos {
		z-index: 13;
}
#GaMotAxisDetail_txtOutIsAtPos {
		background-color: rgba(255, 255, 255, 0);
}
#GaMotAxisDetail_txtOutIsAtPos {
	@include text-alignment-all('center');
}
#GaMotAxisDetail_txtOutIsMoveDone {
	@include elemTop(174);
}
#GaMotAxisDetail_txtOutIsMoveDone {
	@include elemLeft(139);
}
#GaMotAxisDetail_txtOutIsMoveDone {
	@include elemAutoWidth(30);
}
#GaMotAxisDetail_txtOutIsMoveDone {
	@include elemAutoHeight(20);
}
#GaMotAxisDetail_txtOutIsMoveDone {
		z-index: 14;
}
#GaMotAxisDetail_txtOutIsMoveDone {
		background-color: rgba(255, 255, 255, 0);
}
#GaMotAxisDetail_txtOutIsMoveDone {
	@include text-alignment-all('center');
}
#GaMotAxisDetail_txtOutIsStopped {
	@include elemTop(199);
}
#GaMotAxisDetail_txtOutIsStopped {
	@include elemLeft(139);
}
#GaMotAxisDetail_txtOutIsStopped {
	@include elemAutoWidth(30);
}
#GaMotAxisDetail_txtOutIsStopped {
	@include elemAutoHeight(20);
}
#GaMotAxisDetail_txtOutIsStopped {
		z-index: 15;
}
#GaMotAxisDetail_txtOutIsStopped {
		background-color: rgba(255, 255, 255, 0);
}
#GaMotAxisDetail_txtOutIsStopped {
	@include text-alignment-all('center');
}
#GaMotAxisDetail_numOutPosAct {
	@include elemTop(59);
}
#GaMotAxisDetail_numOutPosAct {
	@include elemLeft(14);
}
#GaMotAxisDetail_numOutPosAct {
	@include elemAutoWidth(120);
}
#GaMotAxisDetail_numOutPosAct {
	@include elemAutoHeight(15);
}
#GaMotAxisDetail_numOutPosAct {
		z-index: 16;
}
#GaMotAxisDetail_numOutPosAct {
	input{
	@include text-alignment(center);
	}
}
#GaMotAxisDetail_numOutVelAct {
	@include elemTop(104);
}
#GaMotAxisDetail_numOutVelAct {
	@include elemLeft(14);
}
#GaMotAxisDetail_numOutVelAct {
	@include elemAutoWidth(120);
}
#GaMotAxisDetail_numOutVelAct {
	@include elemAutoHeight(15);
}
#GaMotAxisDetail_numOutVelAct {
		z-index: 17;
}
#GaMotAxisDetail_numOutVelAct {
	input{
	@include text-alignment(center);
	}
}
#GaMotAxisDetail_lblPosAct {
	@include elemTop(44);
}
#GaMotAxisDetail_lblPosAct {
	@include elemLeft(4);
}
#GaMotAxisDetail_lblPosAct {
	@include elemAutoWidth(130);
}
#GaMotAxisDetail_lblPosAct {
	@include elemAutoHeight(15);
}
#GaMotAxisDetail_lblPosAct {
		z-index: 18;
}
#GaMotAxisDetail_lblPosAct {
	@include text-alignment-all('center');
}
#GaMotAxisDetail_lblVelAct {
	@include elemTop(84);
}
#GaMotAxisDetail_lblVelAct {
	@include elemLeft(4);
}
#GaMotAxisDetail_lblVelAct {
	@include elemAutoWidth(130);
}
#GaMotAxisDetail_lblVelAct {
	@include elemAutoHeight(22);
}
#GaMotAxisDetail_lblVelAct {
		z-index: 19;
}
#GaMotAxisDetail_lblVelAct {
	@include text-alignment-all('center');
}
#GaMotAxisDetail_lblIsPoweredOn {
	@include elemTop(84);
}
#GaMotAxisDetail_lblIsPoweredOn {
	@include elemLeft(184);
}
#GaMotAxisDetail_lblIsPoweredOn {
	@include elemAutoWidth(125);
}
#GaMotAxisDetail_lblIsPoweredOn {
	@include elemAutoHeight(15);
}
#GaMotAxisDetail_lblIsPoweredOn {
		z-index: 20;
}
#GaMotAxisDetail_lblIsPoweredOn {
	span{
		padding: 0px;
	}
}
#GaMotAxisDetail_txtOutIsPoweredOn {
	@include elemTop(84);
}
#GaMotAxisDetail_txtOutIsPoweredOn {
	@include elemLeft(139);
}
#GaMotAxisDetail_txtOutIsPoweredOn {
	@include elemAutoWidth(30);
}
#GaMotAxisDetail_txtOutIsPoweredOn {
	@include elemAutoHeight(20);
}
#GaMotAxisDetail_txtOutIsPoweredOn {
		z-index: 21;
}
#GaMotAxisDetail_txtOutIsPoweredOn {
		background-color: rgba(255, 255, 255, 0);
}
#GaMotAxisDetail_txtOutIsPoweredOn {
	@include text-alignment-all('center');
}
#GaMotAxisDetail_lblIsBrakeManRel {
	@include elemTop(109);
}
#GaMotAxisDetail_lblIsBrakeManRel {
	@include elemLeft(184);
}
#GaMotAxisDetail_lblIsBrakeManRel {
	@include elemAutoWidth(151);
}
#GaMotAxisDetail_lblIsBrakeManRel {
	@include elemAutoHeight(15);
}
#GaMotAxisDetail_lblIsBrakeManRel {
		z-index: 22;
}
#GaMotAxisDetail_lblIsBrakeManRel {
	span{
		padding: 0px;
	}
}
#GaMotAxisDetail_txtOutIsBrakeManRel {
	@include elemTop(109);
}
#GaMotAxisDetail_txtOutIsBrakeManRel {
	@include elemLeft(139);
}
#GaMotAxisDetail_txtOutIsBrakeManRel {
	@include elemAutoWidth(30);
}
#GaMotAxisDetail_txtOutIsBrakeManRel {
	@include elemAutoHeight(20);
}
#GaMotAxisDetail_txtOutIsBrakeManRel {
		z-index: 23;
}
#GaMotAxisDetail_txtOutIsBrakeManRel {
		background-color: rgba(255, 255, 255, 0);
}
#GaMotAxisDetail_txtOutIsBrakeManRel {
	@include text-alignment-all('center');
}
#GaMotAxisDetail_numOutPosLimitPos {
	@include elemTop(154);
}
#GaMotAxisDetail_numOutPosLimitPos {
	@include elemLeft(14);
}
#GaMotAxisDetail_numOutPosLimitPos {
	@include elemAutoWidth(120);
}
#GaMotAxisDetail_numOutPosLimitPos {
	@include elemAutoHeight(15);
}
#GaMotAxisDetail_numOutPosLimitPos {
		z-index: 24;
}
#GaMotAxisDetail_numOutPosLimitPos {
	input{
	@include text-alignment(center);
	}
}
#GaMotAxisDetail_lblPosLimitPos {
	@include elemTop(134);
}
#GaMotAxisDetail_lblPosLimitPos {
	@include elemLeft(4);
}
#GaMotAxisDetail_lblPosLimitPos {
	@include elemAutoWidth(130);
}
#GaMotAxisDetail_lblPosLimitPos {
	@include elemAutoHeight(22);
}
#GaMotAxisDetail_lblPosLimitPos {
		z-index: 25;
}
#GaMotAxisDetail_lblPosLimitPos {
	@include text-alignment-all('center');
}
#GaMotAxisDetail_numOutPosLimitNeg {
	@include elemTop(204);
}
#GaMotAxisDetail_numOutPosLimitNeg {
	@include elemLeft(14);
}
#GaMotAxisDetail_numOutPosLimitNeg {
	@include elemAutoWidth(120);
}
#GaMotAxisDetail_numOutPosLimitNeg {
	@include elemAutoHeight(15);
}
#GaMotAxisDetail_numOutPosLimitNeg {
		z-index: 26;
}
#GaMotAxisDetail_numOutPosLimitNeg {
	input{
	@include text-alignment(center);
	}
}
#GaMotAxisDetail_lblPosLimitNeg {
	@include elemTop(184);
}
#GaMotAxisDetail_lblPosLimitNeg {
	@include elemLeft(4);
}
#GaMotAxisDetail_lblPosLimitNeg {
	@include elemAutoWidth(130);
}
#GaMotAxisDetail_lblPosLimitNeg {
	@include elemAutoHeight(22);
}
#GaMotAxisDetail_lblPosLimitNeg {
		z-index: 27;
}
#GaMotAxisDetail_lblPosLimitNeg {
	@include text-alignment-all('center');
}
#GaMotAxisDetail_lblAxisStatus1 {
	@include elemTop(-1);
}
#GaMotAxisDetail_lblAxisStatus1 {
	@include elemLeft(-1);
}
#GaMotAxisDetail_lblAxisStatus1 {
	@include elemAutoWidth(371);
}
#GaMotAxisDetail_lblAxisStatus1 {
	@include elemAutoHeight(36);
}
#GaMotAxisDetail_lblAxisStatus1 {
		z-index: 28;
}
#GaMotAxisDetail_grpBoxMoveCmd {
	@include elemTop(15);
}
#GaMotAxisDetail_grpBoxMoveCmd {
	@include elemLeft(415);
}
#GaMotAxisDetail_grpBoxMoveCmd {
	@include elemWidth(585);
}
#GaMotAxisDetail_grpBoxMoveCmd {
	@include elemHeight(435);
}
#GaMotAxisDetail_grpBoxMoveCmd {
		z-index: 1;
}
#GaMotAxisDetail_rdoBtnGrpMoveType {
	@include elemTop(3);
}
#GaMotAxisDetail_rdoBtnGrpMoveType {
	@include elemLeft(24);
}
#GaMotAxisDetail_rdoBtnGrpMoveType {
	@include elemWidth(145);
}
#GaMotAxisDetail_rdoBtnGrpMoveType {
	@include elemHeight(142);
}
#GaMotAxisDetail_rdoBtnGrpMoveType {
		z-index: 0;
}
#GaMotAxisDetail_rdoBtnMoveAbs {
	@include elemAutoHeight(30);
}
#GaMotAxisDetail_rdoBtnMoveAbs {
	@include elemTop(5);
}
#GaMotAxisDetail_rdoBtnMoveAbs {
	@include elemLeft(10);
}
#GaMotAxisDetail_rdoBtnMoveAbs {
	@include elemAutoWidth(115);
}
#GaMotAxisDetail_rdoBtnMoveAbs {
		z-index: 0;
}
#GaMotAxisDetail_rdoBtnMoveAbs {
	span{
	@include font-weight-bold(true);
	}
}
#GaMotAxisDetail_rdoBtnMoveRel {
	@include elemAutoHeight(30);
}
#GaMotAxisDetail_rdoBtnMoveRel {
	@include elemTop(53);
}
#GaMotAxisDetail_rdoBtnMoveRel {
	@include elemLeft(10);
}
#GaMotAxisDetail_rdoBtnMoveRel {
	@include elemAutoWidth(115);
}
#GaMotAxisDetail_rdoBtnMoveRel {
		z-index: 1;
}
#GaMotAxisDetail_rdoBtnMoveRel {
	span{
	@include font-weight-bold(true);
	}
}
#GaMotAxisDetail_rdoBtnMoveVel {
	@include elemAutoHeight(30);
}
#GaMotAxisDetail_rdoBtnMoveVel {
	@include elemTop(100);
}
#GaMotAxisDetail_rdoBtnMoveVel {
	@include elemLeft(10);
}
#GaMotAxisDetail_rdoBtnMoveVel {
	@include elemAutoWidth(118);
}
#GaMotAxisDetail_rdoBtnMoveVel {
		z-index: 2;
}
#GaMotAxisDetail_rdoBtnMoveVel {
	span{
	@include font-weight-bold(true);
	}
}
#GaMotAxisDetail_rdoBtnGrpMoveDir {
	@include elemTop(3);
}
#GaMotAxisDetail_rdoBtnGrpMoveDir {
	@include elemLeft(174);
}
#GaMotAxisDetail_rdoBtnGrpMoveDir {
	@include elemWidth(175);
}
#GaMotAxisDetail_rdoBtnGrpMoveDir {
	@include elemHeight(142);
}
#GaMotAxisDetail_rdoBtnGrpMoveDir {
		z-index: 1;
}
#GaMotAxisDetail_rdoBtnDirPos {
	@include elemAutoHeight(30);
}
#GaMotAxisDetail_rdoBtnDirPos {
	@include elemTop(5);
}
#GaMotAxisDetail_rdoBtnDirPos {
	@include elemLeft(10);
}
#GaMotAxisDetail_rdoBtnDirPos {
	@include elemAutoWidth(115);
}
#GaMotAxisDetail_rdoBtnDirPos {
		z-index: 0;
}
#GaMotAxisDetail_rdoBtnDirPos {
	span{
	@include font-weight-bold(true);
	}
}
#GaMotAxisDetail_rdoBtnDirNeg {
	@include elemAutoHeight(30);
}
#GaMotAxisDetail_rdoBtnDirNeg {
	@include elemTop(53);
}
#GaMotAxisDetail_rdoBtnDirNeg {
	@include elemLeft(10);
}
#GaMotAxisDetail_rdoBtnDirNeg {
	@include elemAutoWidth(115);
}
#GaMotAxisDetail_rdoBtnDirNeg {
		z-index: 1;
}
#GaMotAxisDetail_rdoBtnDirNeg {
	span{
	@include font-weight-bold(true);
	}
}
#GaMotAxisDetail_rdoBtnDirShortest {
	@include elemAutoHeight(30);
}
#GaMotAxisDetail_rdoBtnDirShortest {
	@include elemTop(100);
}
#GaMotAxisDetail_rdoBtnDirShortest {
	@include elemLeft(10);
}
#GaMotAxisDetail_rdoBtnDirShortest {
	@include elemAutoWidth(145);
}
#GaMotAxisDetail_rdoBtnDirShortest {
		z-index: 2;
}
#GaMotAxisDetail_rdoBtnDirShortest {
	span{
	@include font-weight-bold(true);
	}
}
#GaMotAxisDetail_numInDistMoveParam {
	@include elemAutoHeight(30);
}
#GaMotAxisDetail_numInDistMoveParam {
	@include elemTop(53);
}
#GaMotAxisDetail_numInDistMoveParam {
	@include elemLeft(364);
}
#GaMotAxisDetail_numInDistMoveParam {
	@include elemAutoWidth(120);
}
#GaMotAxisDetail_numInDistMoveParam {
		z-index: 2;
}
#GaMotAxisDetail_numInVelMoveParam {
	@include elemAutoHeight(30);
}
#GaMotAxisDetail_numInVelMoveParam {
	@include elemTop(173);
}
#GaMotAxisDetail_numInVelMoveParam {
	@include elemLeft(29);
}
#GaMotAxisDetail_numInVelMoveParam {
	@include elemAutoWidth(120);
}
#GaMotAxisDetail_numInVelMoveParam {
		z-index: 3;
}
#GaMotAxisDetail_lblVelMoveParam {
	@include elemAutoWidth(80);
}
#GaMotAxisDetail_lblVelMoveParam {
	@include elemAutoHeight(30);
}
#GaMotAxisDetail_lblVelMoveParam {
	@include elemTop(148);
}
#GaMotAxisDetail_lblVelMoveParam {
	@include elemLeft(24);
}
#GaMotAxisDetail_lblVelMoveParam {
		z-index: 4;
}
#GaMotAxisDetail_lblDistMoveParam {
	@include elemAutoWidth(80);
}
#GaMotAxisDetail_lblDistMoveParam {
	@include elemAutoHeight(30);
}
#GaMotAxisDetail_lblDistMoveParam {
	@include elemTop(53);
}
#GaMotAxisDetail_lblDistMoveParam {
	@include elemLeft(489);
}
#GaMotAxisDetail_lblDistMoveParam {
		z-index: 5;
}
#GaMotAxisDetail_numInAccelMoveParam {
	@include elemAutoHeight(30);
}
#GaMotAxisDetail_numInAccelMoveParam {
	@include elemTop(173);
}
#GaMotAxisDetail_numInAccelMoveParam {
	@include elemLeft(164);
}
#GaMotAxisDetail_numInAccelMoveParam {
	@include elemAutoWidth(120);
}
#GaMotAxisDetail_numInAccelMoveParam {
		z-index: 6;
}
#GaMotAxisDetail_lblAccelMoveParam {
	@include elemAutoWidth(80);
}
#GaMotAxisDetail_lblAccelMoveParam {
	@include elemAutoHeight(30);
}
#GaMotAxisDetail_lblAccelMoveParam {
	@include elemTop(148);
}
#GaMotAxisDetail_lblAccelMoveParam {
	@include elemLeft(159);
}
#GaMotAxisDetail_lblAccelMoveParam {
		z-index: 7;
}
#GaMotAxisDetail_numInDecelMoveParam {
	@include elemAutoHeight(30);
}
#GaMotAxisDetail_numInDecelMoveParam {
	@include elemTop(173);
}
#GaMotAxisDetail_numInDecelMoveParam {
	@include elemLeft(304);
}
#GaMotAxisDetail_numInDecelMoveParam {
	@include elemAutoWidth(120);
}
#GaMotAxisDetail_numInDecelMoveParam {
		z-index: 8;
}
#GaMotAxisDetail_lblDecelMoveParam {
	@include elemAutoWidth(80);
}
#GaMotAxisDetail_lblDecelMoveParam {
	@include elemAutoHeight(30);
}
#GaMotAxisDetail_lblDecelMoveParam {
	@include elemTop(148);
}
#GaMotAxisDetail_lblDecelMoveParam {
	@include elemLeft(299);
}
#GaMotAxisDetail_lblDecelMoveParam {
		z-index: 9;
}
#GaMotAxisDetail_numInPosMoveParam {
	@include elemAutoHeight(30);
}
#GaMotAxisDetail_numInPosMoveParam {
	@include elemTop(8);
}
#GaMotAxisDetail_numInPosMoveParam {
	@include elemLeft(364);
}
#GaMotAxisDetail_numInPosMoveParam {
	@include elemAutoWidth(120);
}
#GaMotAxisDetail_numInPosMoveParam {
		z-index: 10;
}
#GaMotAxisDetail_lblPosMoveParam {
	@include elemAutoWidth(80);
}
#GaMotAxisDetail_lblPosMoveParam {
	@include elemAutoHeight(30);
}
#GaMotAxisDetail_lblPosMoveParam {
	@include elemTop(8);
}
#GaMotAxisDetail_lblPosMoveParam {
	@include elemLeft(489);
}
#GaMotAxisDetail_lblPosMoveParam {
		z-index: 11;
}
#GaMotAxisDetail_numInJerkMoveParam {
	@include elemAutoHeight(30);
}
#GaMotAxisDetail_numInJerkMoveParam {
	@include elemTop(173);
}
#GaMotAxisDetail_numInJerkMoveParam {
	@include elemLeft(444);
}
#GaMotAxisDetail_numInJerkMoveParam {
	@include elemAutoWidth(120);
}
#GaMotAxisDetail_numInJerkMoveParam {
		z-index: 12;
}
#GaMotAxisDetail_lblJerkMoveParam {
	@include elemAutoWidth(80);
}
#GaMotAxisDetail_lblJerkMoveParam {
	@include elemAutoHeight(30);
}
#GaMotAxisDetail_lblJerkMoveParam {
	@include elemTop(148);
}
#GaMotAxisDetail_lblJerkMoveParam {
	@include elemLeft(439);
}
#GaMotAxisDetail_lblJerkMoveParam {
		z-index: 13;
}
#GaMotAxisDetail_pbStart {
	@include elemTop(213);
}
#GaMotAxisDetail_pbStart {
	@include elemLeft(14);
}
#GaMotAxisDetail_pbStart {
	@include elemAutoWidth(116);
}
#GaMotAxisDetail_pbStart {
	@include elemAutoHeight(45);
}
#GaMotAxisDetail_pbStart {
		z-index: 14;
}
#GaMotAxisDetail_pbStop {
	@include elemTop(213);
}
#GaMotAxisDetail_pbStop {
	@include elemLeft(444);
}
#GaMotAxisDetail_pbStop {
	@include elemAutoWidth(115);
}
#GaMotAxisDetail_pbStop {
	@include elemAutoHeight(45);
}
#GaMotAxisDetail_pbStop {
		z-index: 15;
}
#GaMotAxisDetail_pbStopReset {
	@include elemTop(273);
}
#GaMotAxisDetail_pbStopReset {
	@include elemLeft(444);
}
#GaMotAxisDetail_pbStopReset {
	@include elemAutoWidth(116);
}
#GaMotAxisDetail_pbStopReset {
	@include elemAutoHeight(42);
}
#GaMotAxisDetail_pbStopReset {
		z-index: 16;
}
#GaMotAxisDetail_pbDriveReset {
	@include elemTop(338);
}
#GaMotAxisDetail_pbDriveReset {
	@include elemLeft(14);
}
#GaMotAxisDetail_pbDriveReset {
	@include elemAutoWidth(116);
}
#GaMotAxisDetail_pbDriveReset {
	@include elemAutoHeight(42);
}
#GaMotAxisDetail_pbDriveReset {
		z-index: 18;
}
#GaMotAxisDetail_pbHomeDlg {
	@include elemTop(338);
}
#GaMotAxisDetail_pbHomeDlg {
	@include elemLeft(444);
}
#GaMotAxisDetail_pbHomeDlg {
	@include elemAutoWidth(116);
}
#GaMotAxisDetail_pbHomeDlg {
	@include elemAutoHeight(42);
}
#GaMotAxisDetail_pbHomeDlg {
		z-index: 19;
}
#GaMotAxisDetail_pbEnable {
	@include elemTop(273);
}
#GaMotAxisDetail_pbEnable {
	@include elemLeft(159);
}
#GaMotAxisDetail_pbEnable {
	@include elemAutoWidth(116);
}
#GaMotAxisDetail_pbEnable {
	@include elemAutoHeight(42);
}
#GaMotAxisDetail_pbEnable {
		z-index: 20;
}
#GaMotAxisDetail_pbDisable {
	@include elemTop(338);
}
#GaMotAxisDetail_pbDisable {
	@include elemLeft(159);
}
#GaMotAxisDetail_pbDisable {
	@include elemAutoWidth(116);
}
#GaMotAxisDetail_pbDisable {
	@include elemAutoHeight(42);
}
#GaMotAxisDetail_pbDisable {
		z-index: 21;
}
#GaMotAxisDetail_pbHalt {
	@include elemTop(213);
}
#GaMotAxisDetail_pbHalt {
	@include elemLeft(230);
}
#GaMotAxisDetail_pbHalt {
	@include elemAutoWidth(115);
}
#GaMotAxisDetail_pbHalt {
	@include elemAutoHeight(45);
}
#GaMotAxisDetail_pbHalt {
		z-index: 22;
}
#GaMotAxisDetail_pbManBrakeRel {
	@include elemTop(273);
}
#GaMotAxisDetail_pbManBrakeRel {
	@include elemLeft(304);
}
#GaMotAxisDetail_pbManBrakeRel {
	@include elemAutoWidth(116);
}
#GaMotAxisDetail_pbManBrakeRel {
	@include elemAutoHeight(42);
}
#GaMotAxisDetail_pbManBrakeRel {
		z-index: 23;
}
#GaMotAxisDetail_pbClearManBrakeRel {
	@include elemTop(338);
}
#GaMotAxisDetail_pbClearManBrakeRel {
	@include elemLeft(304);
}
#GaMotAxisDetail_pbClearManBrakeRel {
	@include elemAutoWidth(116);
}
#GaMotAxisDetail_pbClearManBrakeRel {
	@include elemAutoHeight(42);
}
#GaMotAxisDetail_pbClearManBrakeRel {
		z-index: 24;
}
#GaMotAxisDetail_pbSetPosLimitsDlg {
	@include elemTop(98);
}
#GaMotAxisDetail_pbSetPosLimitsDlg {
	@include elemLeft(369);
}
#GaMotAxisDetail_pbSetPosLimitsDlg {
	@include elemAutoWidth(116);
}
#GaMotAxisDetail_pbSetPosLimitsDlg {
	@include elemAutoHeight(42);
}
#GaMotAxisDetail_pbSetPosLimitsDlg {
		z-index: 25;
}
#GaMotAxisDetail_grpBoxSlaveStatus {
	@include elemTop(315);
}
#GaMotAxisDetail_grpBoxSlaveStatus {
	@include elemLeft(30);
}
#GaMotAxisDetail_grpBoxSlaveStatus {
	@include elemWidth(370);
}
#GaMotAxisDetail_grpBoxSlaveStatus {
	@include elemHeight(375);
}
#GaMotAxisDetail_grpBoxSlaveStatus {
		z-index: 2;
}
#GaMotAxisDetail_lblIsGearInComp {
	@include elemTop(169);
}
#GaMotAxisDetail_lblIsGearInComp {
	@include elemLeft(189);
}
#GaMotAxisDetail_lblIsGearInComp {
	@include elemAutoWidth(175);
}
#GaMotAxisDetail_lblIsGearInComp {
	@include elemAutoHeight(15);
}
#GaMotAxisDetail_lblIsGearInComp {
		z-index: 2;
}
#GaMotAxisDetail_lblIsGearInComp {
	span{
		padding: 0px;
	}
}
#GaMotAxisDetail_lblIsGearInSync {
	@include elemTop(189);
}
#GaMotAxisDetail_lblIsGearInSync {
	@include elemLeft(189);
}
#GaMotAxisDetail_lblIsGearInSync {
	@include elemAutoWidth(175);
}
#GaMotAxisDetail_lblIsGearInSync {
	@include elemAutoHeight(15);
}
#GaMotAxisDetail_lblIsGearInSync {
		z-index: 3;
}
#GaMotAxisDetail_lblIsGearInSync {
	span{
		padding: 0px;
	}
}
#GaMotAxisDetail_txtOutIsGearInComp {
	@include elemTop(167);
}
#GaMotAxisDetail_txtOutIsGearInComp {
	@include elemLeft(154);
}
#GaMotAxisDetail_txtOutIsGearInComp {
	@include elemAutoWidth(30);
}
#GaMotAxisDetail_txtOutIsGearInComp {
	@include elemAutoHeight(20);
}
#GaMotAxisDetail_txtOutIsGearInComp {
		z-index: 6;
}
#GaMotAxisDetail_txtOutIsGearInComp {
		background-color: rgba(255, 255, 255, 0);
}
#GaMotAxisDetail_txtOutIsGearInComp {
	@include text-alignment-all('center');
}
#GaMotAxisDetail_txtOutIsGearInSync {
	@include elemTop(190);
}
#GaMotAxisDetail_txtOutIsGearInSync {
	@include elemLeft(154);
}
#GaMotAxisDetail_txtOutIsGearInSync {
	@include elemAutoWidth(30);
}
#GaMotAxisDetail_txtOutIsGearInSync {
	@include elemAutoHeight(20);
}
#GaMotAxisDetail_txtOutIsGearInSync {
		z-index: 7;
}
#GaMotAxisDetail_txtOutIsGearInSync {
		background-color: rgba(255, 255, 255, 0);
}
#GaMotAxisDetail_txtOutIsGearInSync {
	@include text-alignment-all('center');
}
#GaMotAxisDetail_numOutPosActSlave {
	@include elemTop(119);
}
#GaMotAxisDetail_numOutPosActSlave {
	@include elemLeft(-1);
}
#GaMotAxisDetail_numOutPosActSlave {
	@include elemAutoWidth(120);
}
#GaMotAxisDetail_numOutPosActSlave {
	@include elemAutoHeight(15);
}
#GaMotAxisDetail_numOutPosActSlave {
		z-index: 8;
}
#GaMotAxisDetail_numOutPosActSlave {
	input{
	@include text-alignment(center);
	}
}
#GaMotAxisDetail_numOutVelActSlave {
	@include elemTop(119);
}
#GaMotAxisDetail_numOutVelActSlave {
	@include elemLeft(249);
}
#GaMotAxisDetail_numOutVelActSlave {
	@include elemAutoWidth(120);
}
#GaMotAxisDetail_numOutVelActSlave {
	@include elemAutoHeight(15);
}
#GaMotAxisDetail_numOutVelActSlave {
		z-index: 9;
}
#GaMotAxisDetail_numOutVelActSlave {
	input{
	@include text-alignment(center);
	}
}
#GaMotAxisDetail_lblPosActSlave {
	@include elemAutoWidth(80);
}
#GaMotAxisDetail_lblPosActSlave {
	@include elemTop(99);
}
#GaMotAxisDetail_lblPosActSlave {
	@include elemLeft(14);
}
#GaMotAxisDetail_lblPosActSlave {
	@include elemAutoHeight(15);
}
#GaMotAxisDetail_lblPosActSlave {
		z-index: 10;
}
#GaMotAxisDetail_lblPosActSlave {
	@include text-alignment-all('center');
}
#GaMotAxisDetail_lblVelActSlave {
	@include elemAutoWidth(80);
}
#GaMotAxisDetail_lblVelActSlave {
	@include elemTop(99);
}
#GaMotAxisDetail_lblVelActSlave {
	@include elemLeft(264);
}
#GaMotAxisDetail_lblVelActSlave {
	@include elemAutoHeight(15);
}
#GaMotAxisDetail_lblVelActSlave {
		z-index: 11;
}
#GaMotAxisDetail_lblVelActSlave {
	@include text-alignment-all('center');
}
#GaMotAxisDetail_lblIsGearOffsetDone {
	@include elemTop(237);
}
#GaMotAxisDetail_lblIsGearOffsetDone {
	@include elemLeft(189);
}
#GaMotAxisDetail_lblIsGearOffsetDone {
	@include elemAutoWidth(175);
}
#GaMotAxisDetail_lblIsGearOffsetDone {
	@include elemAutoHeight(15);
}
#GaMotAxisDetail_lblIsGearOffsetDone {
		z-index: 12;
}
#GaMotAxisDetail_lblIsGearOffsetDone {
	span{
		padding: 0px;
	}
}
#GaMotAxisDetail_txtOutIsGearOffsetDone {
	@include elemTop(235);
}
#GaMotAxisDetail_txtOutIsGearOffsetDone {
	@include elemLeft(154);
}
#GaMotAxisDetail_txtOutIsGearOffsetDone {
	@include elemAutoWidth(30);
}
#GaMotAxisDetail_txtOutIsGearOffsetDone {
	@include elemAutoHeight(20);
}
#GaMotAxisDetail_txtOutIsGearOffsetDone {
		z-index: 13;
}
#GaMotAxisDetail_txtOutIsGearOffsetDone {
		background-color: rgba(255, 255, 255, 0);
}
#GaMotAxisDetail_txtOutIsGearOffsetDone {
	@include text-alignment-all('center');
}
#GaMotAxisDetail_lblIsGearOffsetStarted {
	@include elemTop(209);
}
#GaMotAxisDetail_lblIsGearOffsetStarted {
	@include elemLeft(189);
}
#GaMotAxisDetail_lblIsGearOffsetStarted {
	@include elemAutoWidth(175);
}
#GaMotAxisDetail_lblIsGearOffsetStarted {
	@include elemAutoHeight(22);
}
#GaMotAxisDetail_lblIsGearOffsetStarted {
		z-index: 14;
}
#GaMotAxisDetail_lblIsGearOffsetStarted {
	span{
		padding: 0px;
	}
}
#GaMotAxisDetail_txtOutIsGearOffsetStarted {
	@include elemTop(212);
}
#GaMotAxisDetail_txtOutIsGearOffsetStarted {
	@include elemLeft(154);
}
#GaMotAxisDetail_txtOutIsGearOffsetStarted {
	@include elemAutoWidth(30);
}
#GaMotAxisDetail_txtOutIsGearOffsetStarted {
	@include elemAutoHeight(20);
}
#GaMotAxisDetail_txtOutIsGearOffsetStarted {
		z-index: 15;
}
#GaMotAxisDetail_txtOutIsGearOffsetStarted {
		background-color: rgba(255, 255, 255, 0);
}
#GaMotAxisDetail_txtOutIsGearOffsetStarted {
	@include text-alignment-all('center');
}
#GaMotAxisDetail_numOutOffsetAct {
	@include elemTop(214);
}
#GaMotAxisDetail_numOutOffsetAct {
	@include elemLeft(9);
}
#GaMotAxisDetail_numOutOffsetAct {
	@include elemAutoWidth(120);
}
#GaMotAxisDetail_numOutOffsetAct {
	@include elemAutoHeight(15);
}
#GaMotAxisDetail_numOutOffsetAct {
		z-index: 16;
}
#GaMotAxisDetail_numOutOffsetAct {
	input{
	@include text-alignment(center);
	}
}
#GaMotAxisDetail_lblOffsetAct {
	@include elemAutoWidth(80);
}
#GaMotAxisDetail_lblOffsetAct {
	@include elemTop(189);
}
#GaMotAxisDetail_lblOffsetAct {
	@include elemLeft(29);
}
#GaMotAxisDetail_lblOffsetAct {
	@include elemAutoHeight(15);
}
#GaMotAxisDetail_lblOffsetAct {
		z-index: 17;
}
#GaMotAxisDetail_lblOffsetAct {
	@include text-alignment-all('center');
}
#GaMotAxisDetail_lblStatusSlave {
	@include elemTop(54);
}
#GaMotAxisDetail_lblStatusSlave {
	@include elemLeft(289);
}
#GaMotAxisDetail_lblStatusSlave {
	@include elemAutoWidth(60);
}
#GaMotAxisDetail_lblStatusSlave {
	@include elemAutoHeight(15);
}
#GaMotAxisDetail_lblStatusSlave {
		z-index: 18;
}
#GaMotAxisDetail_lblStatusSlave {
	span{
		padding: 0px;
	}
}
#GaMotAxisDetail_lblStateSlave {
	@include elemTop(74);
}
#GaMotAxisDetail_lblStateSlave {
	@include elemLeft(289);
}
#GaMotAxisDetail_lblStateSlave {
	@include elemAutoWidth(60);
}
#GaMotAxisDetail_lblStateSlave {
	@include elemAutoHeight(15);
}
#GaMotAxisDetail_lblStateSlave {
		z-index: 19;
}
#GaMotAxisDetail_lblStateSlave {
	span{
		padding: 0px;
	}
}
#GaMotAxisDetail_txtOutStatusSlave {
	@include elemTop(54);
}
#GaMotAxisDetail_txtOutStatusSlave {
	@include elemLeft(99);
}
#GaMotAxisDetail_txtOutStatusSlave {
	@include elemAutoWidth(187);
}
#GaMotAxisDetail_txtOutStatusSlave {
	@include elemAutoHeight(15);
}
#GaMotAxisDetail_txtOutStatusSlave {
		z-index: 20;
}
#GaMotAxisDetail_txtOutStatusSlave {
		background-color: rgba(255, 255, 255, 0);
}
#GaMotAxisDetail_txtOutStatusSlave {
	@include text-alignment-all('right');
}
#GaMotAxisDetail_txtOutStateSlave {
	@include elemTop(74);
}
#GaMotAxisDetail_txtOutStateSlave {
	@include elemLeft(89);
}
#GaMotAxisDetail_txtOutStateSlave {
	@include elemAutoWidth(197);
}
#GaMotAxisDetail_txtOutStateSlave {
	@include elemAutoHeight(15);
}
#GaMotAxisDetail_txtOutStateSlave {
		z-index: 21;
}
#GaMotAxisDetail_txtOutStateSlave {
		background-color: rgba(255, 255, 255, 0);
}
#GaMotAxisDetail_txtOutStateSlave {
	@include text-alignment-all('right');
}
#GaMotAxisDetail_lblSlaveAxisStatus1 {
	@include elemTop(-1);
}
#GaMotAxisDetail_lblSlaveAxisStatus1 {
	@include elemLeft(-1);
}
#GaMotAxisDetail_lblSlaveAxisStatus1 {
	@include elemAutoWidth(370);
}
#GaMotAxisDetail_lblSlaveAxisStatus1 {
	@include elemAutoHeight(40);
}
#GaMotAxisDetail_lblSlaveAxisStatus1 {
		z-index: 22;
}
#GaMotAxisDetail_numOutOffsetFromMaster {
	@include elemTop(119);
}
#GaMotAxisDetail_numOutOffsetFromMaster {
	@include elemLeft(109);
}
#GaMotAxisDetail_numOutOffsetFromMaster {
	@include elemAutoWidth(151);
}
#GaMotAxisDetail_numOutOffsetFromMaster {
	@include elemAutoHeight(15);
}
#GaMotAxisDetail_numOutOffsetFromMaster {
		z-index: 23;
}
#GaMotAxisDetail_numOutOffsetFromMaster {
	input{
	@include text-alignment(center);
	}
}
#GaMotAxisDetail_lblOffsetFromMaster {
	@include elemTop(99);
}
#GaMotAxisDetail_lblOffsetFromMaster {
	@include elemLeft(104);
}
#GaMotAxisDetail_lblOffsetFromMaster {
	@include elemAutoWidth(151);
}
#GaMotAxisDetail_lblOffsetFromMaster {
	@include elemAutoHeight(15);
}
#GaMotAxisDetail_lblOffsetFromMaster {
		z-index: 24;
}
#GaMotAxisDetail_lblOffsetFromMaster {
	@include text-alignment-all('center');
}
#GaMotAxisDetail_lblIsCamInSync {
	@include elemTop(284);
}
#GaMotAxisDetail_lblIsCamInSync {
	@include elemLeft(189);
}
#GaMotAxisDetail_lblIsCamInSync {
	@include elemAutoWidth(175);
}
#GaMotAxisDetail_lblIsCamInSync {
	@include elemAutoHeight(15);
}
#GaMotAxisDetail_lblIsCamInSync {
		z-index: 25;
}
#GaMotAxisDetail_lblIsCamInSync {
	span{
		padding: 0px;
	}
}
#GaMotAxisDetail_lblIsCamEndOfProfile {
	@include elemTop(307);
}
#GaMotAxisDetail_lblIsCamEndOfProfile {
	@include elemLeft(189);
}
#GaMotAxisDetail_lblIsCamEndOfProfile {
	@include elemAutoWidth(175);
}
#GaMotAxisDetail_lblIsCamEndOfProfile {
	@include elemAutoHeight(15);
}
#GaMotAxisDetail_lblIsCamEndOfProfile {
		z-index: 26;
}
#GaMotAxisDetail_lblIsCamEndOfProfile {
	span{
		padding: 0px;
	}
}
#GaMotAxisDetail_txtOutIsCamInSync {
	@include elemTop(282);
}
#GaMotAxisDetail_txtOutIsCamInSync {
	@include elemLeft(154);
}
#GaMotAxisDetail_txtOutIsCamInSync {
	@include elemAutoWidth(30);
}
#GaMotAxisDetail_txtOutIsCamInSync {
	@include elemAutoHeight(20);
}
#GaMotAxisDetail_txtOutIsCamInSync {
		z-index: 27;
}
#GaMotAxisDetail_txtOutIsCamInSync {
		background-color: rgba(255, 255, 255, 0);
}
#GaMotAxisDetail_txtOutIsCamInSync {
	@include text-alignment-all('center');
}
#GaMotAxisDetail_txtOutIsCamEndOfProfile {
	@include elemTop(305);
}
#GaMotAxisDetail_txtOutIsCamEndOfProfile {
	@include elemLeft(154);
}
#GaMotAxisDetail_txtOutIsCamEndOfProfile {
	@include elemAutoWidth(30);
}
#GaMotAxisDetail_txtOutIsCamEndOfProfile {
	@include elemAutoHeight(20);
}
#GaMotAxisDetail_txtOutIsCamEndOfProfile {
		z-index: 28;
}
#GaMotAxisDetail_txtOutIsCamEndOfProfile {
		background-color: rgba(255, 255, 255, 0);
}
#GaMotAxisDetail_txtOutIsCamEndOfProfile {
	@include text-alignment-all('center');
}
#GaMotAxisDetail_lblCamStatus {
	@include elemTop(329);
}
#GaMotAxisDetail_lblCamStatus {
	@include elemLeft(189);
}
#GaMotAxisDetail_lblCamStatus {
	@include elemAutoWidth(91);
}
#GaMotAxisDetail_lblCamStatus {
	@include elemAutoHeight(15);
}
#GaMotAxisDetail_lblCamStatus {
		z-index: 29;
}
#GaMotAxisDetail_lblCamStatus {
	span{
		padding: 0px;
	}
}
#GaMotAxisDetail_txtOutCamStatus {
	@include elemTop(329);
}
#GaMotAxisDetail_txtOutCamStatus {
	@include elemLeft(9);
}
#GaMotAxisDetail_txtOutCamStatus {
	@include elemAutoWidth(187);
}
#GaMotAxisDetail_txtOutCamStatus {
	@include elemAutoHeight(15);
}
#GaMotAxisDetail_txtOutCamStatus {
		z-index: 30;
}
#GaMotAxisDetail_txtOutCamStatus {
		background-color: rgba(255, 255, 255, 0);
}
#GaMotAxisDetail_txtOutCamStatus {
	@include text-alignment-all('right');
}
#GaMotAxisDetail_grpBoxSlaveControl {
	@include elemTop(460);
}
#GaMotAxisDetail_grpBoxSlaveControl {
	@include elemLeft(415);
}
#GaMotAxisDetail_grpBoxSlaveControl {
	@include elemWidth(585);
}
#GaMotAxisDetail_grpBoxSlaveControl {
	@include elemHeight(230);
}
#GaMotAxisDetail_grpBoxSlaveControl {
		z-index: 3;
}
#GaMotAxisDetail_grpBoxSlaveControl {
		background-color: rgba(255, 255, 255, 1);
}
#GaMotAxisDetail_numInRatioDenominator {
	@include elemAutoHeight(30);
}
#GaMotAxisDetail_numInRatioDenominator {
	@include elemTop(54);
}
#GaMotAxisDetail_numInRatioDenominator {
	@include elemLeft(149);
}
#GaMotAxisDetail_numInRatioDenominator {
	@include elemAutoWidth(120);
}
#GaMotAxisDetail_numInRatioDenominator {
		z-index: 0;
}
#GaMotAxisDetail_numInRatioNumerator {
	@include elemAutoHeight(30);
}
#GaMotAxisDetail_numInRatioNumerator {
	@include elemTop(54);
}
#GaMotAxisDetail_numInRatioNumerator {
	@include elemLeft(9);
}
#GaMotAxisDetail_numInRatioNumerator {
	@include elemAutoWidth(120);
}
#GaMotAxisDetail_numInRatioNumerator {
		z-index: 1;
}
#GaMotAxisDetail_lblMasterToSlave {
	@include elemTop(24);
}
#GaMotAxisDetail_lblMasterToSlave {
	@include elemLeft(54);
}
#GaMotAxisDetail_lblMasterToSlave {
	@include elemAutoWidth(216);
}
#GaMotAxisDetail_lblMasterToSlave {
	@include elemAutoHeight(32);
}
#GaMotAxisDetail_lblMasterToSlave {
		z-index: 2;
}
#GaMotAxisDetail_lblMasterToSlave {
	@include text-alignment-all('center top');
}
#GaMotAxisDetail_lblMasterToSlave {
	@include font-weight-bold(true);
}
#GaMotAxisDetail_pbGearInSlave {
	@include elemTop(89);
}
#GaMotAxisDetail_pbGearInSlave {
	@include elemLeft(14);
}
#GaMotAxisDetail_pbGearInSlave {
	@include elemAutoWidth(116);
}
#GaMotAxisDetail_pbGearInSlave {
	@include elemAutoHeight(42);
}
#GaMotAxisDetail_pbGearInSlave {
		z-index: 3;
}
#GaMotAxisDetail_pbDisengageSlave {
	@include elemTop(119);
}
#GaMotAxisDetail_pbDisengageSlave {
	@include elemLeft(154);
}
#GaMotAxisDetail_pbDisengageSlave {
	@include elemAutoWidth(116);
}
#GaMotAxisDetail_pbDisengageSlave {
	@include elemAutoHeight(42);
}
#GaMotAxisDetail_pbDisengageSlave {
		z-index: 4;
}
#GaMotAxisDetail_lblColon {
	@include elemTop(59);
}
#GaMotAxisDetail_lblColon {
	@include elemLeft(129);
}
#GaMotAxisDetail_lblColon {
	@include elemAutoWidth(21);
}
#GaMotAxisDetail_lblColon {
	@include elemAutoHeight(22);
}
#GaMotAxisDetail_lblColon {
		z-index: 5;
}
#GaMotAxisDetail_lblColon {
	@include text-alignment-all('center');
}
#GaMotAxisDetail_lblColon {
		font-size: 24px;
}
#GaMotAxisDetail_lblColon {
	@include font-weight-bold(true);
}
#GaMotAxisDetail_lblSlaveAxisStatus2 {
	@include elemAutoHeight(30);
}
#GaMotAxisDetail_lblSlaveAxisStatus2 {
	@include elemTop(-1);
}
#GaMotAxisDetail_lblSlaveAxisStatus2 {
	@include elemLeft(-6);
}
#GaMotAxisDetail_lblSlaveAxisStatus2 {
	@include elemAutoWidth(590);
}
#GaMotAxisDetail_lblSlaveAxisStatus2 {
		z-index: 6;
}
#GaMotAxisDetail_numInSlaveOffsetAmt {
	@include elemAutoHeight(30);
}
#GaMotAxisDetail_numInSlaveOffsetAmt {
	@include elemTop(54);
}
#GaMotAxisDetail_numInSlaveOffsetAmt {
	@include elemLeft(300);
}
#GaMotAxisDetail_numInSlaveOffsetAmt {
	@include elemAutoWidth(104);
}
#GaMotAxisDetail_numInSlaveOffsetAmt {
		z-index: 7;
}
#GaMotAxisDetail_numInMasterDistance {
	@include elemAutoWidth(100);
}
#GaMotAxisDetail_numInMasterDistance {
	@include elemAutoHeight(30);
}
#GaMotAxisDetail_numInMasterDistance {
	@include elemTop(119);
}
#GaMotAxisDetail_numInMasterDistance {
	@include elemLeft(304);
}
#GaMotAxisDetail_numInMasterDistance {
		z-index: 8;
}
#GaMotAxisDetail_lblSlaveOffsetAmt {
	@include elemAutoHeight(30);
}
#GaMotAxisDetail_lblSlaveOffsetAmt {
	@include elemTop(29);
}
#GaMotAxisDetail_lblSlaveOffsetAmt {
	@include elemLeft(304);
}
#GaMotAxisDetail_lblSlaveOffsetAmt {
	@include elemAutoWidth(106);
}
#GaMotAxisDetail_lblSlaveOffsetAmt {
		z-index: 9;
}
#GaMotAxisDetail_lblSlaveOffsetAmt {
	@include font-weight-bold(true);
}
#GaMotAxisDetail_lblMasterDistance {
	@include elemAutoHeight(30);
}
#GaMotAxisDetail_lblMasterDistance {
	@include elemTop(89);
}
#GaMotAxisDetail_lblMasterDistance {
	@include elemLeft(304);
}
#GaMotAxisDetail_lblMasterDistance {
	@include elemAutoWidth(106);
}
#GaMotAxisDetail_lblMasterDistance {
		z-index: 10;
}
#GaMotAxisDetail_lblMasterDistance {
	@include font-weight-bold(true);
}
#GaMotAxisDetail_pbOffsetSlave {
	@include elemTop(164);
}
#GaMotAxisDetail_pbOffsetSlave {
	@include elemLeft(299);
}
#GaMotAxisDetail_pbOffsetSlave {
	@include elemAutoWidth(116);
}
#GaMotAxisDetail_pbOffsetSlave {
	@include elemAutoHeight(42);
}
#GaMotAxisDetail_pbOffsetSlave {
		z-index: 11;
}
#GaMotAxisDetail_rdoBtnGrpShiftType {
	@include elemTop(34);
}
#GaMotAxisDetail_rdoBtnGrpShiftType {
	@include elemLeft(414);
}
#GaMotAxisDetail_rdoBtnGrpShiftType {
	@include elemWidth(121);
}
#GaMotAxisDetail_rdoBtnGrpShiftType {
	@include elemHeight(66);
}
#GaMotAxisDetail_rdoBtnGrpShiftType {
		z-index: 12;
}
#GaMotAxisDetail_rdoBtnOffsetRel {
	@include elemTop(5);
}
#GaMotAxisDetail_rdoBtnOffsetRel {
	@include elemLeft(5);
}
#GaMotAxisDetail_rdoBtnOffsetRel {
	@include elemAutoWidth(105);
}
#GaMotAxisDetail_rdoBtnOffsetRel {
	@include elemAutoHeight(25);
}
#GaMotAxisDetail_rdoBtnOffsetRel {
		z-index: 0;
}
#GaMotAxisDetail_rdoBtnOffsetAbs {
	@include elemTop(35);
}
#GaMotAxisDetail_rdoBtnOffsetAbs {
	@include elemLeft(5);
}
#GaMotAxisDetail_rdoBtnOffsetAbs {
	@include elemAutoWidth(105);
}
#GaMotAxisDetail_rdoBtnOffsetAbs {
	@include elemAutoHeight(25);
}
#GaMotAxisDetail_rdoBtnOffsetAbs {
		z-index: 1;
}
#GaMotAxisDetail_chkBoxOverMasterDist {
	@include elemAutoHeight(30);
}
#GaMotAxisDetail_chkBoxOverMasterDist {
	@include elemTop(114);
}
#GaMotAxisDetail_chkBoxOverMasterDist {
	@include elemLeft(419);
}
#GaMotAxisDetail_chkBoxOverMasterDist {
	@include elemAutoWidth(166);
}
#GaMotAxisDetail_chkBoxOverMasterDist {
		z-index: 13;
}
#GaMotAxisDetail_pbToMasterPos {
	@include elemTop(164);
}
#GaMotAxisDetail_pbToMasterPos {
	@include elemLeft(454);
}
#GaMotAxisDetail_pbToMasterPos {
	@include elemAutoWidth(116);
}
#GaMotAxisDetail_pbToMasterPos {
	@include elemAutoHeight(42);
}
#GaMotAxisDetail_pbToMasterPos {
		z-index: 14;
}
#GaMotAxisDetail_pbCamInSlave {
	@include elemTop(174);
}
#GaMotAxisDetail_pbCamInSlave {
	@include elemLeft(14);
}
#GaMotAxisDetail_pbCamInSlave {
	@include elemAutoWidth(116);
}
#GaMotAxisDetail_pbCamInSlave {
	@include elemAutoHeight(42);
}
#GaMotAxisDetail_pbCamInSlave {
		z-index: 15;
}
#GaMotAxisDetail_numInCamId {
	@include elemTop(184);
}
#GaMotAxisDetail_numInCamId {
	@include elemLeft(209);
}
#GaMotAxisDetail_numInCamId {
	@include elemAutoWidth(66);
}
#GaMotAxisDetail_numInCamId {
	@include elemAutoHeight(30);
}
#GaMotAxisDetail_numInCamId {
		z-index: 16;
}
#GaMotAxisDetail_lblCamId {
	@include elemAutoHeight(30);
}
#GaMotAxisDetail_lblCamId {
	@include elemTop(184);
}
#GaMotAxisDetail_lblCamId {
	@include elemLeft(139);
}
#GaMotAxisDetail_lblCamId {
	@include elemAutoWidth(66);
}
#GaMotAxisDetail_lblCamId {
		z-index: 17;
}
#GaMotAxisDetail_lblCamId {
	@include font-weight-bold(true);
}
