<?xml version="1.0" encoding="utf-8"?>
<SnippetsSet id="cfAxisStatus_snippets" xmlns="http://www.br-automation.com/iat2015/snippet/engineering/v3" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Snippets>
    <Snippet id="snCfAxisStatusInt" xsi:type="session" type="IndexText" formatItem="IAT/axisStatus.{1}" />
    <Snippet id="snCfAxisStateInt" xsi:type="session" type="IndexText" formatItem="IAT/gamot_SmState.{1}" />
  </Snippets>
</SnippetsSet>
