@charset "UTF-8";
#dlgHomeTop_content_GaMotAxisHome1 {
  width: 400px;
}

#dlgHomeTop_content_GaMotAxisHome1 {
  height: 340px;
}

#dlgHomeTop_content_GaMotAxisHome1 {
  top: 0px;
  position: absolute;
}

#dlgHomeTop_content_GaMotAxisHome1 {
  left: 0px;
  position: absolute;
}

#dlgHomeTop_content_GaMotAxisHome1 {
  z-index: 0;
}

#dlgHomeTop_content_GaMotAxisHome1ΘgrpBoxAxisHome {
  top: 25px;
  position: absolute;
}

#dlgHomeTop_content_GaMotAxisHome1ΘgrpBoxAxisHome {
  left: 20px;
  position: absolute;
}

#dlgHomeTop_content_GaMotAxisHome1ΘgrpBoxAxisHome {
  width: 355px;
}

#dlgHomeTop_content_GaMotAxisHome1ΘgrpBoxAxisHome {
  height: 285px;
}

#dlgHomeTop_content_GaMotAxisHome1ΘgrpBoxAxisHome {
  z-index: 0;
}

#dlgHomeTop_content_GaMotAxisHome1ΘgrpBoxAxisHome {
  border-radius: 8px 8px 0px 0px;
}

#dlgHomeTop_content_GaMotAxisHome1ΘnumInSetOffset {
  height: 30px;
}

#dlgHomeTop_content_GaMotAxisHome1ΘnumInSetOffset {
  top: 229px;
  position: absolute;
}

#dlgHomeTop_content_GaMotAxisHome1ΘnumInSetOffset {
  left: 10px;
  position: absolute;
}

#dlgHomeTop_content_GaMotAxisHome1ΘnumInSetOffset {
  width: 135px;
}

#dlgHomeTop_content_GaMotAxisHome1ΘnumInSetOffset {
  z-index: 0;
}

#dlgHomeTop_content_GaMotAxisHome1ΘnumOutPosAct {
  height: 30px;
}

#dlgHomeTop_content_GaMotAxisHome1ΘnumOutPosAct {
  top: 64px;
  position: absolute;
}

#dlgHomeTop_content_GaMotAxisHome1ΘnumOutPosAct {
  left: 19px;
  position: absolute;
}

#dlgHomeTop_content_GaMotAxisHome1ΘnumOutPosAct {
  width: 120px;
}

#dlgHomeTop_content_GaMotAxisHome1ΘnumOutPosAct {
  z-index: 1;
}

#dlgHomeTop_content_GaMotAxisHome1ΘnumOutPosAct input {
  justify-content: flex-start;
  text-align: left;
}

#dlgHomeTop_content_GaMotAxisHome1ΘlblPosAct {
  width: 80px;
}

#dlgHomeTop_content_GaMotAxisHome1ΘlblPosAct {
  top: 44px;
  position: absolute;
}

#dlgHomeTop_content_GaMotAxisHome1ΘlblPosAct {
  left: 39px;
  position: absolute;
}

#dlgHomeTop_content_GaMotAxisHome1ΘlblPosAct {
  height: 23px;
}

#dlgHomeTop_content_GaMotAxisHome1ΘlblPosAct {
  z-index: 4;
}

#dlgHomeTop_content_GaMotAxisHome1ΘlblPosAct {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#dlgHomeTop_content_GaMotAxisHome1ΘlblIsHomed {
  top: 44px;
  position: absolute;
}

#dlgHomeTop_content_GaMotAxisHome1ΘlblIsHomed {
  left: 259px;
  position: absolute;
}

#dlgHomeTop_content_GaMotAxisHome1ΘlblIsHomed {
  width: 71px;
}

#dlgHomeTop_content_GaMotAxisHome1ΘlblIsHomed {
  height: 15px;
}

#dlgHomeTop_content_GaMotAxisHome1ΘlblIsHomed {
  z-index: 3;
}

#dlgHomeTop_content_GaMotAxisHome1ΘlblIsHomed span {
  padding: 0px;
}

#dlgHomeTop_content_GaMotAxisHome1ΘtxtOutIsHomed {
  top: 64px;
  position: absolute;
}

#dlgHomeTop_content_GaMotAxisHome1ΘtxtOutIsHomed {
  left: 279px;
  position: absolute;
}

#dlgHomeTop_content_GaMotAxisHome1ΘtxtOutIsHomed {
  width: 30px;
}

#dlgHomeTop_content_GaMotAxisHome1ΘtxtOutIsHomed {
  height: 20px;
}

#dlgHomeTop_content_GaMotAxisHome1ΘtxtOutIsHomed {
  z-index: 2;
}

#dlgHomeTop_content_GaMotAxisHome1ΘtxtOutIsHomed {
  background-color: rgba(255, 255, 255, 0);
}

#dlgHomeTop_content_GaMotAxisHome1ΘtxtOutIsHomed {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#dlgHomeTop_content_GaMotAxisHome1ΘlblTitle {
  top: -5px;
  position: absolute;
}

#dlgHomeTop_content_GaMotAxisHome1ΘlblTitle {
  left: -1px;
  position: absolute;
}

#dlgHomeTop_content_GaMotAxisHome1ΘlblTitle {
  width: 355px;
}

#dlgHomeTop_content_GaMotAxisHome1ΘlblTitle {
  height: 35px;
}

#dlgHomeTop_content_GaMotAxisHome1ΘlblTitle {
  z-index: 5;
}

#dlgHomeTop_content_GaMotAxisHome1ΘpbSetZero {
  width: 100px;
}

#dlgHomeTop_content_GaMotAxisHome1ΘpbSetZero {
  top: 114px;
  position: absolute;
}

#dlgHomeTop_content_GaMotAxisHome1ΘpbSetZero {
  left: 164px;
  position: absolute;
}

#dlgHomeTop_content_GaMotAxisHome1ΘpbSetZero {
  height: 40px;
}

#dlgHomeTop_content_GaMotAxisHome1ΘpbSetZero {
  z-index: 6;
}

#dlgHomeTop_content_GaMotAxisHome1ΘpbSetOffset {
  width: 100px;
}

#dlgHomeTop_content_GaMotAxisHome1ΘpbSetOffset {
  top: 224px;
  position: absolute;
}

#dlgHomeTop_content_GaMotAxisHome1ΘpbSetOffset {
  left: 164px;
  position: absolute;
}

#dlgHomeTop_content_GaMotAxisHome1ΘpbSetOffset {
  height: 40px;
}

#dlgHomeTop_content_GaMotAxisHome1ΘpbSetOffset {
  z-index: 7;
}

#dlgHomeTop_content_GaMotAxisHome1ΘpbSetInPosition {
  width: 100px;
}

#dlgHomeTop_content_GaMotAxisHome1ΘpbSetInPosition {
  top: 169px;
  position: absolute;
}

#dlgHomeTop_content_GaMotAxisHome1ΘpbSetInPosition {
  left: 164px;
  position: absolute;
}

#dlgHomeTop_content_GaMotAxisHome1ΘpbSetInPosition {
  height: 40px;
}

#dlgHomeTop_content_GaMotAxisHome1ΘpbSetInPosition {
  z-index: 8;
}
