#dlgSetPosLimitsBottom_content_btnClose {
  width: 100px;
}

#dlgSetPosLimitsBottom_content_btnClose {
  top: 10px;
  position: absolute;
}

#dlgSetPosLimitsBottom_content_btnClose {
  left: 150px;
  position: absolute;
}

#dlgSetPosLimitsBottom_content_btnClose {
  height: 40px;
}

#dlgSetPosLimitsBottom_content_btnClose {
  z-index: 0;
}
