#leftContentAxisDetail_btnSpindle {
  top: 30px;
  position: absolute;
}

#leftContentAxisDetail_btnSpindle {
  left: 5px;
  position: absolute;
}

#leftContentAxisDetail_btnSpindle {
  width: 90px;
}

#leftContentAxisDetail_btnSpindle {
  height: 45px;
}

#leftContentAxisDetail_btnSpindle {
  z-index: 0;
}

#leftContentAxisDetail_btnOutEcc {
  top: 95px;
  position: absolute;
}

#leftContentAxisDetail_btnOutEcc {
  left: 5px;
  position: absolute;
}

#leftContentAxisDetail_btnOutEcc {
  width: 90px;
}

#leftContentAxisDetail_btnOutEcc {
  height: 45px;
}

#leftContentAxisDetail_btnOutEcc {
  z-index: 1;
}

#leftContentAxisDetail_btnInEcc {
  top: 160px;
  position: absolute;
}

#leftContentAxisDetail_btnInEcc {
  left: 5px;
  position: absolute;
}

#leftContentAxisDetail_btnInEcc {
  width: 90px;
}

#leftContentAxisDetail_btnInEcc {
  height: 45px;
}

#leftContentAxisDetail_btnInEcc {
  z-index: 2;
}

#leftContentAxisDetail_btnZ {
  top: 225px;
  position: absolute;
}

#leftContentAxisDetail_btnZ {
  left: 5px;
  position: absolute;
}

#leftContentAxisDetail_btnZ {
  width: 90px;
}

#leftContentAxisDetail_btnZ {
  height: 45px;
}

#leftContentAxisDetail_btnZ {
  z-index: 3;
}

#leftContentAxisDetail_btnHandwheel {
  top: 290px;
  position: absolute;
}

#leftContentAxisDetail_btnHandwheel {
  left: 5px;
  position: absolute;
}

#leftContentAxisDetail_btnHandwheel {
  width: 90px;
}

#leftContentAxisDetail_btnHandwheel {
  height: 45px;
}

#leftContentAxisDetail_btnHandwheel {
  z-index: 4;
}

#leftContentAxisDetail_btnCfVfd {
  top: 355px;
  position: absolute;
}

#leftContentAxisDetail_btnCfVfd {
  left: 10px;
  position: absolute;
}

#leftContentAxisDetail_btnCfVfd {
  width: 90px;
}

#leftContentAxisDetail_btnCfVfd {
  height: 45px;
}

#leftContentAxisDetail_btnCfVfd {
  z-index: 5;
}
