@import "mixins.scss";
#mainContentCuttingHead_OutEAxisStatus {
	@include elemWidth(390);
}
#mainContentCuttingHead_OutEAxisStatus {
	@include elemHeight(310);
}
#mainContentCuttingHead_OutEAxisStatus {
	@include elemTop(290);
}
#mainContentCuttingHead_OutEAxisStatus {
	@include elemLeft(15);
}
#mainContentCuttingHead_OutEAxisStatus {
		z-index: 0;
}
#mainContentCuttingHead_OutEAxisStatusΘlblAxisStatus{top:0px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘlblAxisStatus{left:0px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘlblAxisStatus{width:370px}#mainContentCuttingHead_OutEAxisStatusΘlblAxisStatus{height:295px}#mainContentCuttingHead_OutEAxisStatusΘlblAxisStatus{z-index:0}#mainContentCuttingHead_OutEAxisStatusΘlblRdyForPower{top:47px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘlblRdyForPower{left:179px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘlblRdyForPower{width:125px}#mainContentCuttingHead_OutEAxisStatusΘlblRdyForPower{height:15px}#mainContentCuttingHead_OutEAxisStatusΘlblRdyForPower{z-index:0}#mainContentCuttingHead_OutEAxisStatusΘlblRdyForPower span{padding:0px}#mainContentCuttingHead_OutEAxisStatusΘlblIsHomed{top:69px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘlblIsHomed{left:179px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘlblIsHomed{width:125px}#mainContentCuttingHead_OutEAxisStatusΘlblIsHomed{height:15px}#mainContentCuttingHead_OutEAxisStatusΘlblIsHomed{z-index:1}#mainContentCuttingHead_OutEAxisStatusΘlblIsHomed span{padding:0px}#mainContentCuttingHead_OutEAxisStatusΘlblIsAtPos{top:158px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘlblIsAtPos{left:179px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘlblIsAtPos{width:125px}#mainContentCuttingHead_OutEAxisStatusΘlblIsAtPos{height:15px}#mainContentCuttingHead_OutEAxisStatusΘlblIsAtPos{z-index:2}#mainContentCuttingHead_OutEAxisStatusΘlblIsAtPos span{padding:0px}#mainContentCuttingHead_OutEAxisStatusΘlblIsMoveActive{top:136px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘlblIsMoveActive{left:179px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘlblIsMoveActive{width:125px}#mainContentCuttingHead_OutEAxisStatusΘlblIsMoveActive{height:15px}#mainContentCuttingHead_OutEAxisStatusΘlblIsMoveActive{z-index:3}#mainContentCuttingHead_OutEAxisStatusΘlblIsMoveActive span{padding:0px}#mainContentCuttingHead_OutEAxisStatusΘlblIsMoveDone{top:180px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘlblIsMoveDone{left:179px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘlblIsMoveDone{width:125px}#mainContentCuttingHead_OutEAxisStatusΘlblIsMoveDone{height:15px}#mainContentCuttingHead_OutEAxisStatusΘlblIsMoveDone{z-index:4}#mainContentCuttingHead_OutEAxisStatusΘlblIsMoveDone span{padding:0px}#mainContentCuttingHead_OutEAxisStatusΘlblIsStopped{top:202px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘlblIsStopped{left:179px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘlblIsStopped{width:125px}#mainContentCuttingHead_OutEAxisStatusΘlblIsStopped{height:15px}#mainContentCuttingHead_OutEAxisStatusΘlblIsStopped{z-index:5}#mainContentCuttingHead_OutEAxisStatusΘlblIsStopped span{padding:0px}#mainContentCuttingHead_OutEAxisStatusΘlblStatus{top:232px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘlblStatus{left:233px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘlblStatus{width:60px}#mainContentCuttingHead_OutEAxisStatusΘlblStatus{height:15px}#mainContentCuttingHead_OutEAxisStatusΘlblStatus{z-index:6}#mainContentCuttingHead_OutEAxisStatusΘlblStatus span{padding:0px}#mainContentCuttingHead_OutEAxisStatusΘlblState{top:257px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘlblState{left:233px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘlblState{width:60px}#mainContentCuttingHead_OutEAxisStatusΘlblState{height:15px}#mainContentCuttingHead_OutEAxisStatusΘlblState{z-index:7}#mainContentCuttingHead_OutEAxisStatusΘlblState span{padding:0px}#mainContentCuttingHead_OutEAxisStatusΘtxtOutStatus{top:232px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘtxtOutStatus{left:4px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘtxtOutStatus{width:228px}#mainContentCuttingHead_OutEAxisStatusΘtxtOutStatus{height:15px}#mainContentCuttingHead_OutEAxisStatusΘtxtOutStatus{z-index:8}#mainContentCuttingHead_OutEAxisStatusΘtxtOutStatus{background-color:rgba(255,255,255,0)}#mainContentCuttingHead_OutEAxisStatusΘtxtOutStatus{justify-content:flex-end;text-align:right;-ms-flex-align:center;align-items:center}#mainContentCuttingHead_OutEAxisStatusΘtxtOutState{top:257px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘtxtOutState{left:4px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘtxtOutState{width:228px}#mainContentCuttingHead_OutEAxisStatusΘtxtOutState{height:15px}#mainContentCuttingHead_OutEAxisStatusΘtxtOutState{z-index:9}#mainContentCuttingHead_OutEAxisStatusΘtxtOutState{background-color:rgba(255,255,255,0)}#mainContentCuttingHead_OutEAxisStatusΘtxtOutState{justify-content:flex-end;text-align:right;-ms-flex-align:center;align-items:center}#mainContentCuttingHead_OutEAxisStatusΘtxtOutRdyForPwr{top:44px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘtxtOutRdyForPwr{left:134px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘtxtOutRdyForPwr{width:30px}#mainContentCuttingHead_OutEAxisStatusΘtxtOutRdyForPwr{height:20px}#mainContentCuttingHead_OutEAxisStatusΘtxtOutRdyForPwr{z-index:10}#mainContentCuttingHead_OutEAxisStatusΘtxtOutRdyForPwr{background-color:rgba(255,255,255,0)}#mainContentCuttingHead_OutEAxisStatusΘtxtOutRdyForPwr{justify-content:center;text-align:center;-ms-flex-align:center;align-items:center}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsHomed{top:67px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsHomed{left:134px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsHomed{width:30px}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsHomed{height:20px}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsHomed{z-index:11}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsHomed{background-color:rgba(255,255,255,0)}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsHomed{justify-content:center;text-align:center;-ms-flex-align:center;align-items:center}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsMoveActive{top:134px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsMoveActive{left:134px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsMoveActive{width:30px}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsMoveActive{height:20px}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsMoveActive{z-index:12}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsMoveActive{background-color:rgba(255,255,255,0)}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsMoveActive{justify-content:center;text-align:center;-ms-flex-align:center;align-items:center}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsAtPos{top:157px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsAtPos{left:134px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsAtPos{width:30px}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsAtPos{height:20px}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsAtPos{z-index:13}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsAtPos{background-color:rgba(255,255,255,0)}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsAtPos{justify-content:center;text-align:center;-ms-flex-align:center;align-items:center}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsMoveDone{top:179px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsMoveDone{left:134px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsMoveDone{width:30px}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsMoveDone{height:20px}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsMoveDone{z-index:14}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsMoveDone{background-color:rgba(255,255,255,0)}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsMoveDone{justify-content:center;text-align:center;-ms-flex-align:center;align-items:center}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsStopped{top:202px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsStopped{left:134px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsStopped{width:30px}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsStopped{height:20px}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsStopped{z-index:15}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsStopped{background-color:rgba(255,255,255,0)}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsStopped{justify-content:center;text-align:center;-ms-flex-align:center;align-items:center}#mainContentCuttingHead_OutEAxisStatusΘnumOutPosAct{top:132px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘnumOutPosAct{left:9px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘnumOutPosAct{width:120px}#mainContentCuttingHead_OutEAxisStatusΘnumOutPosAct{height:15px}#mainContentCuttingHead_OutEAxisStatusΘnumOutPosAct{z-index:16}#mainContentCuttingHead_OutEAxisStatusΘnumOutPosAct input{justify-content:center;text-align:center}#mainContentCuttingHead_OutEAxisStatusΘnumOutVelAct{top:187px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘnumOutVelAct{left:9px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘnumOutVelAct{width:120px}#mainContentCuttingHead_OutEAxisStatusΘnumOutVelAct{height:15px}#mainContentCuttingHead_OutEAxisStatusΘnumOutVelAct{z-index:17}#mainContentCuttingHead_OutEAxisStatusΘnumOutVelAct input{justify-content:center;text-align:center}#mainContentCuttingHead_OutEAxisStatusΘlblPosAct{width:80px}#mainContentCuttingHead_OutEAxisStatusΘlblPosAct{top:107px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘlblPosAct{left:29px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘlblPosAct{height:15px}#mainContentCuttingHead_OutEAxisStatusΘlblPosAct{z-index:18}#mainContentCuttingHead_OutEAxisStatusΘlblPosAct{justify-content:center;text-align:center;-ms-flex-align:center;align-items:center}#mainContentCuttingHead_OutEAxisStatusΘlblVelAct{width:80px}#mainContentCuttingHead_OutEAxisStatusΘlblVelAct{top:162px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘlblVelAct{left:29px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘlblVelAct{height:15px}#mainContentCuttingHead_OutEAxisStatusΘlblVelAct{z-index:19}#mainContentCuttingHead_OutEAxisStatusΘlblVelAct{justify-content:center;text-align:center;-ms-flex-align:center;align-items:center}#mainContentCuttingHead_OutEAxisStatusΘlblIsPoweredOn{top:91px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘlblIsPoweredOn{left:179px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘlblIsPoweredOn{width:125px}#mainContentCuttingHead_OutEAxisStatusΘlblIsPoweredOn{height:15px}#mainContentCuttingHead_OutEAxisStatusΘlblIsPoweredOn{z-index:20}#mainContentCuttingHead_OutEAxisStatusΘlblIsPoweredOn span{padding:0px}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsPoweredOn{top:89px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsPoweredOn{left:134px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsPoweredOn{width:30px}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsPoweredOn{height:20px}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsPoweredOn{z-index:21}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsPoweredOn{background-color:rgba(255,255,255,0)}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsPoweredOn{justify-content:center;text-align:center;-ms-flex-align:center;align-items:center}#mainContentCuttingHead_OutEAxisStatusΘlblIsBrakeManRel{top:113px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘlblIsBrakeManRel{left:179px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘlblIsBrakeManRel{width:151px}#mainContentCuttingHead_OutEAxisStatusΘlblIsBrakeManRel{height:15px}#mainContentCuttingHead_OutEAxisStatusΘlblIsBrakeManRel{z-index:22}#mainContentCuttingHead_OutEAxisStatusΘlblIsBrakeManRel span{padding:0px}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsBrakeManRel{top:112px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsBrakeManRel{left:134px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsBrakeManRel{width:30px}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsBrakeManRel{height:20px}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsBrakeManRel{z-index:23}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsBrakeManRel{background-color:rgba(255,255,255,0)}#mainContentCuttingHead_OutEAxisStatusΘtxtOutIsBrakeManRel{justify-content:center;text-align:center;-ms-flex-align:center;align-items:center}#mainContentCuttingHead_OutEAxisStatusΘgrpBoxLabel{top:-1px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘgrpBoxLabel{left:-1px;position:absolute}#mainContentCuttingHead_OutEAxisStatusΘgrpBoxLabel{width:370px}#mainContentCuttingHead_OutEAxisStatusΘgrpBoxLabel{height:36px}#mainContentCuttingHead_OutEAxisStatusΘgrpBoxLabel{z-index:24}
#mainContentCuttingHead_InEAxisStatus {
	@include elemWidth(390);
}
#mainContentCuttingHead_InEAxisStatus {
	@include elemHeight(310);
}
#mainContentCuttingHead_InEAxisStatus {
	@include elemTop(290);
}
#mainContentCuttingHead_InEAxisStatus {
	@include elemLeft(410);
}
#mainContentCuttingHead_InEAxisStatus {
		z-index: 1;
}
#mainContentCuttingHead_InEAxisStatusΘlblAxisStatus{top:0px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘlblAxisStatus{left:0px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘlblAxisStatus{width:370px}#mainContentCuttingHead_InEAxisStatusΘlblAxisStatus{height:295px}#mainContentCuttingHead_InEAxisStatusΘlblAxisStatus{z-index:0}#mainContentCuttingHead_InEAxisStatusΘlblRdyForPower{top:47px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘlblRdyForPower{left:179px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘlblRdyForPower{width:125px}#mainContentCuttingHead_InEAxisStatusΘlblRdyForPower{height:15px}#mainContentCuttingHead_InEAxisStatusΘlblRdyForPower{z-index:0}#mainContentCuttingHead_InEAxisStatusΘlblRdyForPower span{padding:0px}#mainContentCuttingHead_InEAxisStatusΘlblIsHomed{top:69px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘlblIsHomed{left:179px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘlblIsHomed{width:125px}#mainContentCuttingHead_InEAxisStatusΘlblIsHomed{height:15px}#mainContentCuttingHead_InEAxisStatusΘlblIsHomed{z-index:1}#mainContentCuttingHead_InEAxisStatusΘlblIsHomed span{padding:0px}#mainContentCuttingHead_InEAxisStatusΘlblIsAtPos{top:158px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘlblIsAtPos{left:179px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘlblIsAtPos{width:125px}#mainContentCuttingHead_InEAxisStatusΘlblIsAtPos{height:15px}#mainContentCuttingHead_InEAxisStatusΘlblIsAtPos{z-index:2}#mainContentCuttingHead_InEAxisStatusΘlblIsAtPos span{padding:0px}#mainContentCuttingHead_InEAxisStatusΘlblIsMoveActive{top:136px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘlblIsMoveActive{left:179px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘlblIsMoveActive{width:125px}#mainContentCuttingHead_InEAxisStatusΘlblIsMoveActive{height:15px}#mainContentCuttingHead_InEAxisStatusΘlblIsMoveActive{z-index:3}#mainContentCuttingHead_InEAxisStatusΘlblIsMoveActive span{padding:0px}#mainContentCuttingHead_InEAxisStatusΘlblIsMoveDone{top:180px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘlblIsMoveDone{left:179px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘlblIsMoveDone{width:125px}#mainContentCuttingHead_InEAxisStatusΘlblIsMoveDone{height:15px}#mainContentCuttingHead_InEAxisStatusΘlblIsMoveDone{z-index:4}#mainContentCuttingHead_InEAxisStatusΘlblIsMoveDone span{padding:0px}#mainContentCuttingHead_InEAxisStatusΘlblIsStopped{top:202px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘlblIsStopped{left:179px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘlblIsStopped{width:125px}#mainContentCuttingHead_InEAxisStatusΘlblIsStopped{height:15px}#mainContentCuttingHead_InEAxisStatusΘlblIsStopped{z-index:5}#mainContentCuttingHead_InEAxisStatusΘlblIsStopped span{padding:0px}#mainContentCuttingHead_InEAxisStatusΘlblStatus{top:232px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘlblStatus{left:233px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘlblStatus{width:60px}#mainContentCuttingHead_InEAxisStatusΘlblStatus{height:15px}#mainContentCuttingHead_InEAxisStatusΘlblStatus{z-index:6}#mainContentCuttingHead_InEAxisStatusΘlblStatus span{padding:0px}#mainContentCuttingHead_InEAxisStatusΘlblState{top:257px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘlblState{left:233px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘlblState{width:60px}#mainContentCuttingHead_InEAxisStatusΘlblState{height:15px}#mainContentCuttingHead_InEAxisStatusΘlblState{z-index:7}#mainContentCuttingHead_InEAxisStatusΘlblState span{padding:0px}#mainContentCuttingHead_InEAxisStatusΘtxtOutStatus{top:232px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘtxtOutStatus{left:4px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘtxtOutStatus{width:228px}#mainContentCuttingHead_InEAxisStatusΘtxtOutStatus{height:15px}#mainContentCuttingHead_InEAxisStatusΘtxtOutStatus{z-index:8}#mainContentCuttingHead_InEAxisStatusΘtxtOutStatus{background-color:rgba(255,255,255,0)}#mainContentCuttingHead_InEAxisStatusΘtxtOutStatus{justify-content:flex-end;text-align:right;-ms-flex-align:center;align-items:center}#mainContentCuttingHead_InEAxisStatusΘtxtOutState{top:257px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘtxtOutState{left:4px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘtxtOutState{width:228px}#mainContentCuttingHead_InEAxisStatusΘtxtOutState{height:15px}#mainContentCuttingHead_InEAxisStatusΘtxtOutState{z-index:9}#mainContentCuttingHead_InEAxisStatusΘtxtOutState{background-color:rgba(255,255,255,0)}#mainContentCuttingHead_InEAxisStatusΘtxtOutState{justify-content:flex-end;text-align:right;-ms-flex-align:center;align-items:center}#mainContentCuttingHead_InEAxisStatusΘtxtOutRdyForPwr{top:44px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘtxtOutRdyForPwr{left:134px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘtxtOutRdyForPwr{width:30px}#mainContentCuttingHead_InEAxisStatusΘtxtOutRdyForPwr{height:20px}#mainContentCuttingHead_InEAxisStatusΘtxtOutRdyForPwr{z-index:10}#mainContentCuttingHead_InEAxisStatusΘtxtOutRdyForPwr{background-color:rgba(255,255,255,0)}#mainContentCuttingHead_InEAxisStatusΘtxtOutRdyForPwr{justify-content:center;text-align:center;-ms-flex-align:center;align-items:center}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsHomed{top:67px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsHomed{left:134px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsHomed{width:30px}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsHomed{height:20px}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsHomed{z-index:11}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsHomed{background-color:rgba(255,255,255,0)}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsHomed{justify-content:center;text-align:center;-ms-flex-align:center;align-items:center}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsMoveActive{top:134px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsMoveActive{left:134px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsMoveActive{width:30px}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsMoveActive{height:20px}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsMoveActive{z-index:12}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsMoveActive{background-color:rgba(255,255,255,0)}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsMoveActive{justify-content:center;text-align:center;-ms-flex-align:center;align-items:center}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsAtPos{top:157px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsAtPos{left:134px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsAtPos{width:30px}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsAtPos{height:20px}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsAtPos{z-index:13}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsAtPos{background-color:rgba(255,255,255,0)}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsAtPos{justify-content:center;text-align:center;-ms-flex-align:center;align-items:center}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsMoveDone{top:179px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsMoveDone{left:134px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsMoveDone{width:30px}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsMoveDone{height:20px}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsMoveDone{z-index:14}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsMoveDone{background-color:rgba(255,255,255,0)}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsMoveDone{justify-content:center;text-align:center;-ms-flex-align:center;align-items:center}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsStopped{top:202px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsStopped{left:134px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsStopped{width:30px}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsStopped{height:20px}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsStopped{z-index:15}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsStopped{background-color:rgba(255,255,255,0)}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsStopped{justify-content:center;text-align:center;-ms-flex-align:center;align-items:center}#mainContentCuttingHead_InEAxisStatusΘnumOutPosAct{top:132px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘnumOutPosAct{left:9px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘnumOutPosAct{width:120px}#mainContentCuttingHead_InEAxisStatusΘnumOutPosAct{height:15px}#mainContentCuttingHead_InEAxisStatusΘnumOutPosAct{z-index:16}#mainContentCuttingHead_InEAxisStatusΘnumOutPosAct input{justify-content:center;text-align:center}#mainContentCuttingHead_InEAxisStatusΘnumOutVelAct{top:187px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘnumOutVelAct{left:9px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘnumOutVelAct{width:120px}#mainContentCuttingHead_InEAxisStatusΘnumOutVelAct{height:15px}#mainContentCuttingHead_InEAxisStatusΘnumOutVelAct{z-index:17}#mainContentCuttingHead_InEAxisStatusΘnumOutVelAct input{justify-content:center;text-align:center}#mainContentCuttingHead_InEAxisStatusΘlblPosAct{width:80px}#mainContentCuttingHead_InEAxisStatusΘlblPosAct{top:107px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘlblPosAct{left:29px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘlblPosAct{height:15px}#mainContentCuttingHead_InEAxisStatusΘlblPosAct{z-index:18}#mainContentCuttingHead_InEAxisStatusΘlblPosAct{justify-content:center;text-align:center;-ms-flex-align:center;align-items:center}#mainContentCuttingHead_InEAxisStatusΘlblVelAct{width:80px}#mainContentCuttingHead_InEAxisStatusΘlblVelAct{top:162px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘlblVelAct{left:29px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘlblVelAct{height:15px}#mainContentCuttingHead_InEAxisStatusΘlblVelAct{z-index:19}#mainContentCuttingHead_InEAxisStatusΘlblVelAct{justify-content:center;text-align:center;-ms-flex-align:center;align-items:center}#mainContentCuttingHead_InEAxisStatusΘlblIsPoweredOn{top:91px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘlblIsPoweredOn{left:179px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘlblIsPoweredOn{width:125px}#mainContentCuttingHead_InEAxisStatusΘlblIsPoweredOn{height:15px}#mainContentCuttingHead_InEAxisStatusΘlblIsPoweredOn{z-index:20}#mainContentCuttingHead_InEAxisStatusΘlblIsPoweredOn span{padding:0px}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsPoweredOn{top:89px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsPoweredOn{left:134px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsPoweredOn{width:30px}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsPoweredOn{height:20px}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsPoweredOn{z-index:21}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsPoweredOn{background-color:rgba(255,255,255,0)}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsPoweredOn{justify-content:center;text-align:center;-ms-flex-align:center;align-items:center}#mainContentCuttingHead_InEAxisStatusΘlblIsBrakeManRel{top:113px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘlblIsBrakeManRel{left:179px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘlblIsBrakeManRel{width:151px}#mainContentCuttingHead_InEAxisStatusΘlblIsBrakeManRel{height:15px}#mainContentCuttingHead_InEAxisStatusΘlblIsBrakeManRel{z-index:22}#mainContentCuttingHead_InEAxisStatusΘlblIsBrakeManRel span{padding:0px}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsBrakeManRel{top:112px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsBrakeManRel{left:134px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsBrakeManRel{width:30px}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsBrakeManRel{height:20px}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsBrakeManRel{z-index:23}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsBrakeManRel{background-color:rgba(255,255,255,0)}#mainContentCuttingHead_InEAxisStatusΘtxtOutIsBrakeManRel{justify-content:center;text-align:center;-ms-flex-align:center;align-items:center}#mainContentCuttingHead_InEAxisStatusΘgrpBoxLabel{top:-1px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘgrpBoxLabel{left:-1px;position:absolute}#mainContentCuttingHead_InEAxisStatusΘgrpBoxLabel{width:370px}#mainContentCuttingHead_InEAxisStatusΘgrpBoxLabel{height:36px}#mainContentCuttingHead_InEAxisStatusΘgrpBoxLabel{z-index:24}
#mainContentCuttingHead_numOutPassDepth {
	@include elemAutoHeight(30);
}
#mainContentCuttingHead_numOutPassDepth {
	@include elemTop(45);
}
#mainContentCuttingHead_numOutPassDepth {
	@include elemLeft(145);
}
#mainContentCuttingHead_numOutPassDepth {
	@include elemAutoWidth(95);
}
#mainContentCuttingHead_numOutPassDepth {
		z-index: 2;
}
#mainContentCuttingHead_lblPassDepth {
	@include elemAutoHeight(30);
}
#mainContentCuttingHead_lblPassDepth {
	@include elemTop(45);
}
#mainContentCuttingHead_lblPassDepth {
	@include elemLeft(60);
}
#mainContentCuttingHead_lblPassDepth {
	@include elemAutoWidth(95);
}
#mainContentCuttingHead_lblPassDepth {
		z-index: 3;
}
#mainContentCuttingHead_numOutDepthAdjAngle {
	@include elemAutoHeight(30);
}
#mainContentCuttingHead_numOutDepthAdjAngle {
	@include elemTop(80);
}
#mainContentCuttingHead_numOutDepthAdjAngle {
	@include elemLeft(145);
}
#mainContentCuttingHead_numOutDepthAdjAngle {
	@include elemAutoWidth(95);
}
#mainContentCuttingHead_numOutDepthAdjAngle {
		z-index: 4;
}
#mainContentCuttingHead_lblDepthAdjAngle {
	@include elemAutoHeight(30);
}
#mainContentCuttingHead_lblDepthAdjAngle {
	@include elemTop(80);
}
#mainContentCuttingHead_lblDepthAdjAngle {
	@include elemLeft(25);
}
#mainContentCuttingHead_lblDepthAdjAngle {
	@include elemAutoWidth(130);
}
#mainContentCuttingHead_lblDepthAdjAngle {
		z-index: 5;
}
#mainContentCuttingHead_numOutPassOffsetAngle {
	@include elemAutoHeight(30);
}
#mainContentCuttingHead_numOutPassOffsetAngle {
	@include elemTop(45);
}
#mainContentCuttingHead_numOutPassOffsetAngle {
	@include elemLeft(380);
}
#mainContentCuttingHead_numOutPassOffsetAngle {
	@include elemAutoWidth(95);
}
#mainContentCuttingHead_numOutPassOffsetAngle {
		z-index: 6;
}
#mainContentCuttingHead_lblPassOffsetAngle {
	@include elemAutoHeight(30);
}
#mainContentCuttingHead_lblPassOffsetAngle {
	@include elemTop(45);
}
#mainContentCuttingHead_lblPassOffsetAngle {
	@include elemLeft(255);
}
#mainContentCuttingHead_lblPassOffsetAngle {
	@include elemAutoWidth(135);
}
#mainContentCuttingHead_lblPassOffsetAngle {
		z-index: 7;
}
#mainContentCuttingHead_numOutStartOfPassPos {
	@include elemAutoHeight(30);
}
#mainContentCuttingHead_numOutStartOfPassPos {
	@include elemTop(130);
}
#mainContentCuttingHead_numOutStartOfPassPos {
	@include elemLeft(145);
}
#mainContentCuttingHead_numOutStartOfPassPos {
	@include elemAutoWidth(95);
}
#mainContentCuttingHead_numOutStartOfPassPos {
		z-index: 8;
}
#mainContentCuttingHead_lblStartOfPassPos {
	@include elemAutoHeight(30);
}
#mainContentCuttingHead_lblStartOfPassPos {
	@include elemTop(130);
}
#mainContentCuttingHead_lblStartOfPassPos {
	@include elemLeft(25);
}
#mainContentCuttingHead_lblStartOfPassPos {
	@include elemAutoWidth(130);
}
#mainContentCuttingHead_lblStartOfPassPos {
		z-index: 9;
}
#mainContentCuttingHead_numOutActualOffset {
	@include elemAutoHeight(30);
}
#mainContentCuttingHead_numOutActualOffset {
	@include elemTop(45);
}
#mainContentCuttingHead_numOutActualOffset {
	@include elemLeft(595);
}
#mainContentCuttingHead_numOutActualOffset {
	@include elemAutoWidth(95);
}
#mainContentCuttingHead_numOutActualOffset {
		z-index: 10;
}
#mainContentCuttingHead_lblActualOffset {
	@include elemAutoHeight(30);
}
#mainContentCuttingHead_lblActualOffset {
	@include elemTop(45);
}
#mainContentCuttingHead_lblActualOffset {
	@include elemLeft(500);
}
#mainContentCuttingHead_lblActualOffset {
	@include elemAutoWidth(105);
}
#mainContentCuttingHead_lblActualOffset {
		z-index: 11;
}
#mainContentCuttingHead_numOutEndOfPassPos {
	@include elemAutoHeight(30);
}
#mainContentCuttingHead_numOutEndOfPassPos {
	@include elemTop(165);
}
#mainContentCuttingHead_numOutEndOfPassPos {
	@include elemLeft(145);
}
#mainContentCuttingHead_numOutEndOfPassPos {
	@include elemAutoWidth(95);
}
#mainContentCuttingHead_numOutEndOfPassPos {
		z-index: 12;
}
#mainContentCuttingHead_lblEndOfPassPos {
	@include elemAutoHeight(30);
}
#mainContentCuttingHead_lblEndOfPassPos {
	@include elemTop(165);
}
#mainContentCuttingHead_lblEndOfPassPos {
	@include elemLeft(25);
}
#mainContentCuttingHead_lblEndOfPassPos {
	@include elemAutoWidth(130);
}
#mainContentCuttingHead_lblEndOfPassPos {
		z-index: 13;
}
#mainContentCuttingHead_numOutPassDistance {
	@include elemAutoHeight(30);
}
#mainContentCuttingHead_numOutPassDistance {
	@include elemTop(200);
}
#mainContentCuttingHead_numOutPassDistance {
	@include elemLeft(145);
}
#mainContentCuttingHead_numOutPassDistance {
	@include elemAutoWidth(95);
}
#mainContentCuttingHead_numOutPassDistance {
		z-index: 14;
}
#mainContentCuttingHead_lblPassDistance {
	@include elemAutoHeight(30);
}
#mainContentCuttingHead_lblPassDistance {
	@include elemTop(200);
}
#mainContentCuttingHead_lblPassDistance {
	@include elemLeft(25);
}
#mainContentCuttingHead_lblPassDistance {
	@include elemAutoWidth(130);
}
#mainContentCuttingHead_lblPassDistance {
		z-index: 15;
}
#mainContentCuttingHead_numOutPassDistanceTraveled {
	@include elemAutoHeight(30);
}
#mainContentCuttingHead_numOutPassDistanceTraveled {
	@include elemTop(235);
}
#mainContentCuttingHead_numOutPassDistanceTraveled {
	@include elemLeft(145);
}
#mainContentCuttingHead_numOutPassDistanceTraveled {
	@include elemAutoWidth(95);
}
#mainContentCuttingHead_numOutPassDistanceTraveled {
		z-index: 16;
}
#mainContentCuttingHead_lblPassDistanceTraveled {
	@include elemAutoHeight(30);
}
#mainContentCuttingHead_lblPassDistanceTraveled {
	@include elemTop(235);
}
#mainContentCuttingHead_lblPassDistanceTraveled {
	@include elemLeft(25);
}
#mainContentCuttingHead_lblPassDistanceTraveled {
	@include elemAutoWidth(130);
}
#mainContentCuttingHead_lblPassDistanceTraveled {
		z-index: 17;
}
