@charset "UTF-8";
#mainContentAxisDetail_GaMotAxisDetail1 {
  width: 1000px;
}

#mainContentAxisDetail_GaMotAxisDetail1 {
  height: 680px;
}

#mainContentAxisDetail_GaMotAxisDetail1 {
  top: 15px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1 {
  left: 10px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1 {
  z-index: 0;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘgrpBoxAxisStatus {
  top: 15px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘgrpBoxAxisStatus {
  left: 30px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘgrpBoxAxisStatus {
  width: 370px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘgrpBoxAxisStatus {
  height: 290px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘgrpBoxAxisStatus {
  z-index: 0;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblRdyForPower {
  top: 44px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblRdyForPower {
  left: 184px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblRdyForPower {
  width: 125px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblRdyForPower {
  height: 15px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblRdyForPower {
  z-index: 0;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblRdyForPower span {
  padding: 0px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsHomed {
  top: 64px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsHomed {
  left: 184px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsHomed {
  width: 125px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsHomed {
  height: 15px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsHomed {
  z-index: 1;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsHomed span {
  padding: 0px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsAtPos {
  top: 154px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsAtPos {
  left: 184px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsAtPos {
  width: 125px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsAtPos {
  height: 15px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsAtPos {
  z-index: 2;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsAtPos span {
  padding: 0px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsMoveActive {
  top: 129px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsMoveActive {
  left: 184px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsMoveActive {
  width: 125px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsMoveActive {
  height: 15px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsMoveActive {
  z-index: 3;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsMoveActive span {
  padding: 0px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsMoveDone {
  top: 174px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsMoveDone {
  left: 184px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsMoveDone {
  width: 125px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsMoveDone {
  height: 15px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsMoveDone {
  z-index: 4;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsMoveDone span {
  padding: 0px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsStopped {
  top: 199px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsStopped {
  left: 184px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsStopped {
  width: 125px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsStopped {
  height: 15px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsStopped {
  z-index: 5;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsStopped span {
  padding: 0px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblStatus {
  top: 229px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblStatus {
  left: 289px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblStatus {
  width: 60px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblStatus {
  height: 15px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblStatus {
  z-index: 6;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblStatus span {
  padding: 0px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblState {
  top: 254px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblState {
  left: 289px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblState {
  width: 60px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblState {
  height: 15px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblState {
  z-index: 7;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblState span {
  padding: 0px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutStatus {
  top: 229px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutStatus {
  left: 80px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutStatus {
  width: 207px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutStatus {
  height: 15px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutStatus {
  z-index: 8;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutStatus {
  background-color: rgba(255, 255, 255, 0);
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutStatus {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutState {
  top: 254px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutState {
  left: 80px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutState {
  width: 207px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutState {
  height: 15px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutState {
  z-index: 9;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutState {
  background-color: rgba(255, 255, 255, 0);
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutState {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutRdyForPwr {
  top: 39px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutRdyForPwr {
  left: 139px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutRdyForPwr {
  width: 30px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutRdyForPwr {
  height: 20px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutRdyForPwr {
  z-index: 10;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutRdyForPwr {
  background-color: rgba(255, 255, 255, 0);
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutRdyForPwr {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsHomed {
  top: 64px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsHomed {
  left: 139px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsHomed {
  width: 30px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsHomed {
  height: 20px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsHomed {
  z-index: 11;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsHomed {
  background-color: rgba(255, 255, 255, 0);
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsHomed {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsMoveActive {
  top: 129px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsMoveActive {
  left: 139px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsMoveActive {
  width: 30px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsMoveActive {
  height: 20px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsMoveActive {
  z-index: 12;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsMoveActive {
  background-color: rgba(255, 255, 255, 0);
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsMoveActive {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsAtPos {
  top: 154px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsAtPos {
  left: 139px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsAtPos {
  width: 30px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsAtPos {
  height: 20px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsAtPos {
  z-index: 13;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsAtPos {
  background-color: rgba(255, 255, 255, 0);
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsAtPos {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsMoveDone {
  top: 174px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsMoveDone {
  left: 139px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsMoveDone {
  width: 30px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsMoveDone {
  height: 20px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsMoveDone {
  z-index: 14;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsMoveDone {
  background-color: rgba(255, 255, 255, 0);
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsMoveDone {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsStopped {
  top: 199px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsStopped {
  left: 139px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsStopped {
  width: 30px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsStopped {
  height: 20px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsStopped {
  z-index: 15;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsStopped {
  background-color: rgba(255, 255, 255, 0);
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsStopped {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutPosAct {
  top: 59px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutPosAct {
  left: 14px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutPosAct {
  width: 120px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutPosAct {
  height: 15px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutPosAct {
  z-index: 16;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutPosAct input {
  justify-content: center;
  text-align: center;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutVelAct {
  top: 104px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutVelAct {
  left: 14px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutVelAct {
  width: 120px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutVelAct {
  height: 15px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutVelAct {
  z-index: 17;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutVelAct input {
  justify-content: center;
  text-align: center;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblPosAct {
  top: 44px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblPosAct {
  left: 4px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblPosAct {
  width: 130px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblPosAct {
  height: 15px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblPosAct {
  z-index: 18;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblPosAct {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblVelAct {
  top: 84px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblVelAct {
  left: 4px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblVelAct {
  width: 130px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblVelAct {
  height: 22px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblVelAct {
  z-index: 19;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblVelAct {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsPoweredOn {
  top: 84px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsPoweredOn {
  left: 184px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsPoweredOn {
  width: 125px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsPoweredOn {
  height: 15px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsPoweredOn {
  z-index: 20;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsPoweredOn span {
  padding: 0px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsPoweredOn {
  top: 84px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsPoweredOn {
  left: 139px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsPoweredOn {
  width: 30px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsPoweredOn {
  height: 20px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsPoweredOn {
  z-index: 21;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsPoweredOn {
  background-color: rgba(255, 255, 255, 0);
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsPoweredOn {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsBrakeManRel {
  top: 109px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsBrakeManRel {
  left: 184px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsBrakeManRel {
  width: 151px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsBrakeManRel {
  height: 15px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsBrakeManRel {
  z-index: 22;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsBrakeManRel span {
  padding: 0px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsBrakeManRel {
  top: 109px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsBrakeManRel {
  left: 139px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsBrakeManRel {
  width: 30px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsBrakeManRel {
  height: 20px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsBrakeManRel {
  z-index: 23;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsBrakeManRel {
  background-color: rgba(255, 255, 255, 0);
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsBrakeManRel {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutPosLimitPos {
  top: 154px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutPosLimitPos {
  left: 14px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutPosLimitPos {
  width: 120px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutPosLimitPos {
  height: 15px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutPosLimitPos {
  z-index: 24;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutPosLimitPos input {
  justify-content: center;
  text-align: center;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblPosLimitPos {
  top: 134px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblPosLimitPos {
  left: 4px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblPosLimitPos {
  width: 130px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblPosLimitPos {
  height: 22px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblPosLimitPos {
  z-index: 25;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblPosLimitPos {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutPosLimitNeg {
  top: 204px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutPosLimitNeg {
  left: 14px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutPosLimitNeg {
  width: 120px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutPosLimitNeg {
  height: 15px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutPosLimitNeg {
  z-index: 26;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutPosLimitNeg input {
  justify-content: center;
  text-align: center;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblPosLimitNeg {
  top: 184px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblPosLimitNeg {
  left: 4px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblPosLimitNeg {
  width: 130px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblPosLimitNeg {
  height: 22px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblPosLimitNeg {
  z-index: 27;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblPosLimitNeg {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblAxisStatus1 {
  top: -1px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblAxisStatus1 {
  left: -1px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblAxisStatus1 {
  width: 371px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblAxisStatus1 {
  height: 36px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblAxisStatus1 {
  z-index: 28;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘgrpBoxMoveCmd {
  top: 15px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘgrpBoxMoveCmd {
  left: 415px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘgrpBoxMoveCmd {
  width: 585px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘgrpBoxMoveCmd {
  height: 435px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘgrpBoxMoveCmd {
  z-index: 1;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnGrpMoveType {
  top: 3px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnGrpMoveType {
  left: 24px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnGrpMoveType {
  width: 145px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnGrpMoveType {
  height: 142px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnGrpMoveType {
  z-index: 0;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnMoveAbs {
  height: 30px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnMoveAbs {
  top: 5px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnMoveAbs {
  left: 10px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnMoveAbs {
  width: 115px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnMoveAbs {
  z-index: 0;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnMoveAbs span {
  font-weight: bold;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnMoveRel {
  height: 30px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnMoveRel {
  top: 53px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnMoveRel {
  left: 10px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnMoveRel {
  width: 115px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnMoveRel {
  z-index: 1;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnMoveRel span {
  font-weight: bold;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnMoveVel {
  height: 30px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnMoveVel {
  top: 100px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnMoveVel {
  left: 10px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnMoveVel {
  width: 118px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnMoveVel {
  z-index: 2;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnMoveVel span {
  font-weight: bold;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnGrpMoveDir {
  top: 3px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnGrpMoveDir {
  left: 174px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnGrpMoveDir {
  width: 175px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnGrpMoveDir {
  height: 142px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnGrpMoveDir {
  z-index: 1;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnDirPos {
  height: 30px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnDirPos {
  top: 5px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnDirPos {
  left: 10px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnDirPos {
  width: 115px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnDirPos {
  z-index: 0;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnDirPos span {
  font-weight: bold;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnDirNeg {
  height: 30px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnDirNeg {
  top: 53px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnDirNeg {
  left: 10px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnDirNeg {
  width: 115px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnDirNeg {
  z-index: 1;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnDirNeg span {
  font-weight: bold;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnDirShortest {
  height: 30px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnDirShortest {
  top: 100px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnDirShortest {
  left: 10px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnDirShortest {
  width: 145px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnDirShortest {
  z-index: 2;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnDirShortest span {
  font-weight: bold;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInDistMoveParam {
  height: 30px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInDistMoveParam {
  top: 53px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInDistMoveParam {
  left: 364px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInDistMoveParam {
  width: 120px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInDistMoveParam {
  z-index: 2;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInVelMoveParam {
  height: 30px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInVelMoveParam {
  top: 173px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInVelMoveParam {
  left: 29px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInVelMoveParam {
  width: 120px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInVelMoveParam {
  z-index: 3;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblVelMoveParam {
  width: 80px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblVelMoveParam {
  height: 30px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblVelMoveParam {
  top: 148px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblVelMoveParam {
  left: 24px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblVelMoveParam {
  z-index: 4;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblDistMoveParam {
  width: 80px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblDistMoveParam {
  height: 30px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblDistMoveParam {
  top: 53px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblDistMoveParam {
  left: 489px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblDistMoveParam {
  z-index: 5;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInAccelMoveParam {
  height: 30px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInAccelMoveParam {
  top: 173px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInAccelMoveParam {
  left: 164px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInAccelMoveParam {
  width: 120px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInAccelMoveParam {
  z-index: 6;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblAccelMoveParam {
  width: 80px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblAccelMoveParam {
  height: 30px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblAccelMoveParam {
  top: 148px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblAccelMoveParam {
  left: 159px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblAccelMoveParam {
  z-index: 7;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInDecelMoveParam {
  height: 30px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInDecelMoveParam {
  top: 173px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInDecelMoveParam {
  left: 304px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInDecelMoveParam {
  width: 120px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInDecelMoveParam {
  z-index: 8;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblDecelMoveParam {
  width: 80px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblDecelMoveParam {
  height: 30px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblDecelMoveParam {
  top: 148px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblDecelMoveParam {
  left: 299px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblDecelMoveParam {
  z-index: 9;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInPosMoveParam {
  height: 30px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInPosMoveParam {
  top: 8px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInPosMoveParam {
  left: 364px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInPosMoveParam {
  width: 120px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInPosMoveParam {
  z-index: 10;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblPosMoveParam {
  width: 80px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblPosMoveParam {
  height: 30px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblPosMoveParam {
  top: 8px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblPosMoveParam {
  left: 489px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblPosMoveParam {
  z-index: 11;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInJerkMoveParam {
  height: 30px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInJerkMoveParam {
  top: 173px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInJerkMoveParam {
  left: 444px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInJerkMoveParam {
  width: 120px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInJerkMoveParam {
  z-index: 12;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblJerkMoveParam {
  width: 80px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblJerkMoveParam {
  height: 30px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblJerkMoveParam {
  top: 148px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblJerkMoveParam {
  left: 439px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblJerkMoveParam {
  z-index: 13;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbStart {
  top: 213px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbStart {
  left: 14px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbStart {
  width: 116px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbStart {
  height: 45px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbStart {
  z-index: 14;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbStop {
  top: 213px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbStop {
  left: 444px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbStop {
  width: 115px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbStop {
  height: 45px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbStop {
  z-index: 15;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbStopReset {
  top: 273px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbStopReset {
  left: 444px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbStopReset {
  width: 116px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbStopReset {
  height: 42px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbStopReset {
  z-index: 16;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbDriveReset {
  top: 338px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbDriveReset {
  left: 14px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbDriveReset {
  width: 116px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbDriveReset {
  height: 42px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbDriveReset {
  z-index: 18;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbHomeDlg {
  top: 338px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbHomeDlg {
  left: 444px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbHomeDlg {
  width: 116px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbHomeDlg {
  height: 42px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbHomeDlg {
  z-index: 19;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbEnable {
  top: 273px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbEnable {
  left: 159px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbEnable {
  width: 116px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbEnable {
  height: 42px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbEnable {
  z-index: 20;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbDisable {
  top: 338px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbDisable {
  left: 159px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbDisable {
  width: 116px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbDisable {
  height: 42px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbDisable {
  z-index: 21;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbHalt {
  top: 213px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbHalt {
  left: 230px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbHalt {
  width: 115px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbHalt {
  height: 45px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbHalt {
  z-index: 22;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbManBrakeRel {
  top: 273px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbManBrakeRel {
  left: 304px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbManBrakeRel {
  width: 116px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbManBrakeRel {
  height: 42px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbManBrakeRel {
  z-index: 23;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbClearManBrakeRel {
  top: 338px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbClearManBrakeRel {
  left: 304px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbClearManBrakeRel {
  width: 116px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbClearManBrakeRel {
  height: 42px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbClearManBrakeRel {
  z-index: 24;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbSetPosLimitsDlg {
  top: 98px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbSetPosLimitsDlg {
  left: 369px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbSetPosLimitsDlg {
  width: 116px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbSetPosLimitsDlg {
  height: 42px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbSetPosLimitsDlg {
  z-index: 25;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘgrpBoxSlaveStatus {
  top: 315px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘgrpBoxSlaveStatus {
  left: 30px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘgrpBoxSlaveStatus {
  width: 370px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘgrpBoxSlaveStatus {
  height: 375px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘgrpBoxSlaveStatus {
  z-index: 2;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsGearInComp {
  top: 169px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsGearInComp {
  left: 189px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsGearInComp {
  width: 175px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsGearInComp {
  height: 15px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsGearInComp {
  z-index: 2;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsGearInComp span {
  padding: 0px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsGearInSync {
  top: 189px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsGearInSync {
  left: 189px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsGearInSync {
  width: 175px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsGearInSync {
  height: 15px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsGearInSync {
  z-index: 3;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsGearInSync span {
  padding: 0px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsGearInComp {
  top: 167px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsGearInComp {
  left: 154px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsGearInComp {
  width: 30px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsGearInComp {
  height: 20px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsGearInComp {
  z-index: 6;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsGearInComp {
  background-color: rgba(255, 255, 255, 0);
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsGearInComp {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsGearInSync {
  top: 190px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsGearInSync {
  left: 154px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsGearInSync {
  width: 30px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsGearInSync {
  height: 20px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsGearInSync {
  z-index: 7;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsGearInSync {
  background-color: rgba(255, 255, 255, 0);
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsGearInSync {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutPosActSlave {
  top: 119px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutPosActSlave {
  left: -1px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutPosActSlave {
  width: 120px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutPosActSlave {
  height: 15px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutPosActSlave {
  z-index: 8;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutPosActSlave input {
  justify-content: center;
  text-align: center;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutVelActSlave {
  top: 119px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutVelActSlave {
  left: 249px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutVelActSlave {
  width: 120px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutVelActSlave {
  height: 15px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutVelActSlave {
  z-index: 9;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutVelActSlave input {
  justify-content: center;
  text-align: center;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblPosActSlave {
  width: 80px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblPosActSlave {
  top: 99px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblPosActSlave {
  left: 14px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblPosActSlave {
  height: 15px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblPosActSlave {
  z-index: 10;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblPosActSlave {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblVelActSlave {
  width: 80px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblVelActSlave {
  top: 99px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblVelActSlave {
  left: 264px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblVelActSlave {
  height: 15px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblVelActSlave {
  z-index: 11;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblVelActSlave {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsGearOffsetDone {
  top: 237px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsGearOffsetDone {
  left: 189px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsGearOffsetDone {
  width: 175px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsGearOffsetDone {
  height: 15px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsGearOffsetDone {
  z-index: 12;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsGearOffsetDone span {
  padding: 0px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsGearOffsetDone {
  top: 235px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsGearOffsetDone {
  left: 154px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsGearOffsetDone {
  width: 30px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsGearOffsetDone {
  height: 20px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsGearOffsetDone {
  z-index: 13;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsGearOffsetDone {
  background-color: rgba(255, 255, 255, 0);
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsGearOffsetDone {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsGearOffsetStarted {
  top: 209px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsGearOffsetStarted {
  left: 189px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsGearOffsetStarted {
  width: 175px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsGearOffsetStarted {
  height: 22px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsGearOffsetStarted {
  z-index: 14;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsGearOffsetStarted span {
  padding: 0px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsGearOffsetStarted {
  top: 212px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsGearOffsetStarted {
  left: 154px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsGearOffsetStarted {
  width: 30px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsGearOffsetStarted {
  height: 20px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsGearOffsetStarted {
  z-index: 15;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsGearOffsetStarted {
  background-color: rgba(255, 255, 255, 0);
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsGearOffsetStarted {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutOffsetAct {
  top: 214px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutOffsetAct {
  left: 9px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutOffsetAct {
  width: 120px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutOffsetAct {
  height: 15px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutOffsetAct {
  z-index: 16;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutOffsetAct input {
  justify-content: center;
  text-align: center;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblOffsetAct {
  width: 80px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblOffsetAct {
  top: 189px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblOffsetAct {
  left: 29px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblOffsetAct {
  height: 15px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblOffsetAct {
  z-index: 17;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblOffsetAct {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblStatusSlave {
  top: 54px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblStatusSlave {
  left: 289px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblStatusSlave {
  width: 60px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblStatusSlave {
  height: 15px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblStatusSlave {
  z-index: 18;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblStatusSlave span {
  padding: 0px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblStateSlave {
  top: 74px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblStateSlave {
  left: 289px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblStateSlave {
  width: 60px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblStateSlave {
  height: 15px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblStateSlave {
  z-index: 19;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblStateSlave span {
  padding: 0px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutStatusSlave {
  top: 54px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutStatusSlave {
  left: 99px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutStatusSlave {
  width: 187px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutStatusSlave {
  height: 15px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutStatusSlave {
  z-index: 20;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutStatusSlave {
  background-color: rgba(255, 255, 255, 0);
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutStatusSlave {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutStateSlave {
  top: 74px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutStateSlave {
  left: 89px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutStateSlave {
  width: 197px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutStateSlave {
  height: 15px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutStateSlave {
  z-index: 21;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutStateSlave {
  background-color: rgba(255, 255, 255, 0);
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutStateSlave {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblSlaveAxisStatus1 {
  top: -1px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblSlaveAxisStatus1 {
  left: -1px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblSlaveAxisStatus1 {
  width: 370px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblSlaveAxisStatus1 {
  height: 40px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblSlaveAxisStatus1 {
  z-index: 22;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutOffsetFromMaster {
  top: 119px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutOffsetFromMaster {
  left: 109px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutOffsetFromMaster {
  width: 151px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutOffsetFromMaster {
  height: 15px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutOffsetFromMaster {
  z-index: 23;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumOutOffsetFromMaster input {
  justify-content: center;
  text-align: center;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblOffsetFromMaster {
  top: 99px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblOffsetFromMaster {
  left: 104px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblOffsetFromMaster {
  width: 151px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblOffsetFromMaster {
  height: 15px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblOffsetFromMaster {
  z-index: 24;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblOffsetFromMaster {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsCamInSync {
  top: 284px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsCamInSync {
  left: 189px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsCamInSync {
  width: 175px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsCamInSync {
  height: 15px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsCamInSync {
  z-index: 25;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsCamInSync span {
  padding: 0px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsCamEndOfProfile {
  top: 307px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsCamEndOfProfile {
  left: 189px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsCamEndOfProfile {
  width: 175px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsCamEndOfProfile {
  height: 15px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsCamEndOfProfile {
  z-index: 26;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblIsCamEndOfProfile span {
  padding: 0px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsCamInSync {
  top: 282px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsCamInSync {
  left: 154px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsCamInSync {
  width: 30px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsCamInSync {
  height: 20px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsCamInSync {
  z-index: 27;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsCamInSync {
  background-color: rgba(255, 255, 255, 0);
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsCamInSync {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsCamEndOfProfile {
  top: 305px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsCamEndOfProfile {
  left: 154px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsCamEndOfProfile {
  width: 30px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsCamEndOfProfile {
  height: 20px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsCamEndOfProfile {
  z-index: 28;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsCamEndOfProfile {
  background-color: rgba(255, 255, 255, 0);
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutIsCamEndOfProfile {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblCamStatus {
  top: 329px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblCamStatus {
  left: 189px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblCamStatus {
  width: 91px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblCamStatus {
  height: 15px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblCamStatus {
  z-index: 29;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblCamStatus span {
  padding: 0px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutCamStatus {
  top: 329px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutCamStatus {
  left: 9px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutCamStatus {
  width: 187px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutCamStatus {
  height: 15px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutCamStatus {
  z-index: 30;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutCamStatus {
  background-color: rgba(255, 255, 255, 0);
}

#mainContentAxisDetail_GaMotAxisDetail1ΘtxtOutCamStatus {
  justify-content: flex-end;
  text-align: right;
  -ms-flex-align: center;
  align-items: center;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘgrpBoxSlaveControl {
  top: 460px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘgrpBoxSlaveControl {
  left: 415px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘgrpBoxSlaveControl {
  width: 585px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘgrpBoxSlaveControl {
  height: 230px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘgrpBoxSlaveControl {
  z-index: 3;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘgrpBoxSlaveControl {
  background-color: #fff;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInRatioDenominator {
  height: 30px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInRatioDenominator {
  top: 54px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInRatioDenominator {
  left: 149px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInRatioDenominator {
  width: 120px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInRatioDenominator {
  z-index: 0;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInRatioNumerator {
  height: 30px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInRatioNumerator {
  top: 54px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInRatioNumerator {
  left: 9px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInRatioNumerator {
  width: 120px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInRatioNumerator {
  z-index: 1;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblMasterToSlave {
  top: 24px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblMasterToSlave {
  left: 54px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblMasterToSlave {
  width: 216px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblMasterToSlave {
  height: 32px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblMasterToSlave {
  z-index: 2;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblMasterToSlave {
  justify-content: center;
  text-align: center;
  -ms-flex-align: start;
  align-items: flex-start;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblMasterToSlave {
  font-weight: bold;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbGearInSlave {
  top: 89px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbGearInSlave {
  left: 14px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbGearInSlave {
  width: 116px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbGearInSlave {
  height: 42px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbGearInSlave {
  z-index: 3;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbDisengageSlave {
  top: 119px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbDisengageSlave {
  left: 154px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbDisengageSlave {
  width: 116px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbDisengageSlave {
  height: 42px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbDisengageSlave {
  z-index: 4;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblColon {
  top: 59px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblColon {
  left: 129px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblColon {
  width: 21px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblColon {
  height: 22px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblColon {
  z-index: 5;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblColon {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblColon {
  font-size: 24px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblColon {
  font-weight: bold;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblSlaveAxisStatus2 {
  top: -1px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblSlaveAxisStatus2 {
  left: -6px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblSlaveAxisStatus2 {
  width: 590px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblSlaveAxisStatus2 {
  z-index: 6;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInSlaveOffsetAmt {
  height: 30px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInSlaveOffsetAmt {
  top: 54px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInSlaveOffsetAmt {
  left: 300px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInSlaveOffsetAmt {
  width: 104px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInSlaveOffsetAmt {
  z-index: 7;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInMasterDistance {
  width: 100px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInMasterDistance {
  height: 30px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInMasterDistance {
  top: 119px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInMasterDistance {
  left: 304px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInMasterDistance {
  z-index: 8;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblSlaveOffsetAmt {
  height: 30px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblSlaveOffsetAmt {
  top: 29px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblSlaveOffsetAmt {
  left: 304px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblSlaveOffsetAmt {
  width: 106px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblSlaveOffsetAmt {
  z-index: 9;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblSlaveOffsetAmt {
  font-weight: bold;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblMasterDistance {
  height: 30px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblMasterDistance {
  top: 89px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblMasterDistance {
  left: 304px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblMasterDistance {
  width: 106px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblMasterDistance {
  z-index: 10;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblMasterDistance {
  font-weight: bold;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbOffsetSlave {
  top: 164px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbOffsetSlave {
  left: 299px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbOffsetSlave {
  width: 116px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbOffsetSlave {
  height: 42px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbOffsetSlave {
  z-index: 11;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnGrpShiftType {
  top: 34px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnGrpShiftType {
  left: 414px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnGrpShiftType {
  width: 121px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnGrpShiftType {
  height: 66px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnGrpShiftType {
  z-index: 12;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnOffsetRel {
  top: 5px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnOffsetRel {
  left: 5px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnOffsetRel {
  width: 105px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnOffsetRel {
  height: 25px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnOffsetRel {
  z-index: 0;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnOffsetAbs {
  top: 35px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnOffsetAbs {
  left: 5px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnOffsetAbs {
  width: 105px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnOffsetAbs {
  height: 25px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘrdoBtnOffsetAbs {
  z-index: 1;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘchkBoxOverMasterDist {
  height: 30px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘchkBoxOverMasterDist {
  top: 114px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘchkBoxOverMasterDist {
  left: 419px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘchkBoxOverMasterDist {
  width: 166px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘchkBoxOverMasterDist {
  z-index: 13;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbToMasterPos {
  top: 164px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbToMasterPos {
  left: 454px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbToMasterPos {
  width: 116px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbToMasterPos {
  height: 42px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbToMasterPos {
  z-index: 14;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbCamInSlave {
  top: 174px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbCamInSlave {
  left: 14px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbCamInSlave {
  width: 116px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbCamInSlave {
  height: 42px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘpbCamInSlave {
  z-index: 15;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInCamId {
  top: 184px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInCamId {
  left: 209px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInCamId {
  width: 66px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInCamId {
  height: 30px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘnumInCamId {
  z-index: 16;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblCamId {
  height: 30px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblCamId {
  top: 184px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblCamId {
  left: 139px;
  position: absolute;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblCamId {
  width: 66px;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblCamId {
  z-index: 17;
}

#mainContentAxisDetail_GaMotAxisDetail1ΘlblCamId {
  font-weight: bold;
}
